<footer class="buy_tickets-foot">
    <div class="container clearfix">
        <div id="ticket_card__container" class="info_choice fl_l"></div>
        <div class="fl_r">
            <div class="info_total fl_l">
                <span class="total_price">20000</span><span class="rouble">Р</span>
                <p class="total_commission">Включая комиссию 6000 р</p>
            </div>
            <a href="#tickets_set-wrap" class="buy_tickets-link fl_l popup-with-move-anim-tickets">Купить</a>
            {# POPUP #}
            <div id="tickets_set-wrap" class="mfp-hide tickets_set-wrap">
                {# STEPS (1) #}
                <div class="tickets_set">
                    <span class="tickets_set-label">Все верно?</span>
                    <h1 class="tickets_set-title">Beyonce on the run tour под длинное название</h1>
                    <div class="tickets_set-date">14 сен. 2016,<span class="day">ВС,</span>20:00 - 22:30</div>

                    {# SCROLL #}
                    <div id="scrollbar1" class="tickets_set-scroll">
                        <div class="scrollbar">
                            <div class="track">
                                <div class="thumb">
                                    <div class="end">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="viewport">
                            <div class="overview">
                                <div align="justify">

                                    <div class="tickets_set-ticket_card clearfix">
                                        <p class="fl_l">
                                            <span class="ticket_card-seat">2 ряд, 26 место</span>
                                            <br/>
                                            <span class="ticket_card-description">Партер, центральный сегмент</span>
                                        </p>
                                        <p class="ticket_card-price fl_r">5000<span class="rouble">Р</span></p>
                                    </div>

                                    <div class="tickets_set-ticket_card clearfix">
                                        <p class="fl_l">
                                            <span class="ticket_card-seat">2 ряд, 26 место</span><br/>
                                            <span class="ticket_card-description">Партер, центральный сегмент</span>
                                        </p>
                                        <p class="ticket_card-price fl_r">5000<span class="rouble">Р</span></p>
                                    </div>

                                    <div class="tickets_set-ticket_card clearfix">
                                        <p class="fl_l">
                                            <span class="ticket_card-seat">2 ряд, 26 место</span><br/>
                                            <span class="ticket_card-description">Партер, центральный сегмент</span>
                                        </p>
                                        <p class="ticket_card-price fl_r">5000<span class="rouble">Р</span></p>
                                    </div>
                                    <div class="tickets_set-ticket_card clearfix">
                                        <p class="fl_l">
                                            <span class="ticket_card-seat">2 ряд, 26 место</span><br/>
                                            <span class="ticket_card-description">Партер, центральный сегмент</span>
                                        </p>
                                        <p class="ticket_card-price fl_r">5000<span class="rouble">Р</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {# //SCROLL #}

                    <div class="tickets_set-info_total info_total clearfix">
                        <span class="fl_l tickets_set-quantity"><strong>4</strong> билета</span>

                        <div class="fl_r">
                            <span class="total_price">20000</span><span class="rouble">Р</span>
                            <p class="total_commission">Включая комиссию 6000 р</p>
                        </div>
                    </div>

                    <button class="mfp-close tickets_set-close">закрыть</button>
                    <button class="mfp-close tickets_set-back">Вернуться к выбору билетов</button>

                    <a href="#" class="tickets_set-buy_tickets-link buy_tickets-link">Да, все верно</a>
                </div>
                {# //STEPS (1) #}
            </div>
            {# //POPUP #}
        </div>
    </div>
</footer>