<h2>Фирменный подарок “Волшебный фонарь”</h2>

<p>— Портативный проектор-фонарикс любимыми героями (крепится к фонарю магнитом) флюоресцентные наклейки, светящиеся в темноте, для украшения корпуса фонаря творческий набор для создания забавных фотографий</p>

<p>— Смешная надувная богатырскаядубинка CУПЕРБОНУС! DVD-диск «МЕГАШОУ-2016»: новогоднее сказочное мегашоу «НОВЫЕ ФИКСИКИ и чудеса с Машей!» (а также лучшие песни из шоу!)</p>