<h2 class="align-center">Политика в отношении обработки персональных данных</h2>

<p>1. Общие положения</p>
<p>1.1. Настоящая Политика в отношении обработки персональных данных (далее – «Политика») разработана и применяется
    Акционерным обществом «КРОКУС ИНТЕРНЕШНЛ» «CROCUS INTERNATIONAL» (сокращенное наименование – АО «КРОКУС», ОГРН
    1027700257023, местонахождение: Российская Федерация, Московская обл., Красногорский р-н, г. Красногорск, ул.
    Международная, д. 18), Филиалом «Крокус Сити Холл» АО «КРОКУС», (далее также – «Оператор») в соответствии с
    Федеральным законом от 27.07.2006 г. N 152-ФЗ «О персональных данных» (с изменениями и дополнениями), Федеральным
    законом от 13.03.2006 N 38-ФЗ «О рекламе» (с изменениями и дополнениями), и иными нормативными актами в области
    защиты персональных данных, действующими на территории Российской Федерации.</p>
<p>1.2. Настоящая Политика является частью общей политики в отношении обработки персональных данных АО «КРОКУС».</p>
<p>1.3. Настоящая Политика применяется в отношении всех персональных данных, которые могут быть получены от физических
    лиц Оператором в процессе реализации билетов на мероприятия, проводимые в Концертном зале «Вегас Сити Холл», через
    сайт vegas -hall.ru (далее – «Сайт»), через колл-центр Оператора по телефону 8 (499) 550-00-55 (далее –
    «колл-центр») и через кассы Оператора, и которые могут быть однозначно соотнесены с конкретным физическим лицом и
    его персональными данными. Действие настоящей Политики не распространяется на отношения:</p>
<p>- возникающие при обработке персональных данных сотрудников Оператора, поскольку такие отношения урегулированы
    отдельным локальным актом, также являющимся частью общей политики в отношении обработки персональных данных АО
    «КРОКУС»;</p>
<p>- на отношения, на которые Федеральный закон N 152-ФЗ «О персональных данных» не распространяется (п.2 ст.1).</p>
<p>1.4. Политика определяет поведение Оператора в отношении обработки персональных данных,  принятых на обработку,
    порядок и условия осуществления обработки персональных данных физических лиц, передавших свои персональные данные
    для обработки Оператору (далее также – «Субъект персональных данных», «Субъект») с использованием и без
    использования средств автоматизации, устанавливает процедуры, направленные на предотвращение нарушений
    законодательства Российской Федерации, устранение последствий таких нарушений, связанных с обработкой персональных
    данных.</p>
<p>1.5. Политика разработана с целью обеспечения защиты прав и свобод Субъектов персональных данных при обработке их
    персональных данных, а также с целью установления ответственности должностных лиц Оператора, имеющих доступ к
    персональным данным Субъектов персональных данных, за невыполнение требований и норм, регулирующих обработку
    персональных данных.</p>
<p>1.6. Оператор осуществляет обработку следующих персональных данных:</p>
<p>- фамилия, имя;</p>
<p>- номер телефона;</p>
<p>- адрес электронной почты;</p>
<p>- адрес доставки билетов;</p>
<p>- данные об оказанных и оказываемых Субъекту персональных данных услугах, в том числе история заказов Субъекта;</p>
<p>- история обращений Субъекта персональных данных, в том числе присылаемые Субъектом при обращениях к Оператору
    документы.</p>
<p>1.7. При использовании сервисов Сайта Оператор обрабатывает также иные обезличенные данные, которые автоматически
    передаются в процессе использования Сайта посредством установленного на компьютере программного обеспечения:</p>
<p>- сведения об используемом браузере (или иной программе, с помощью которой осуществляется доступ к сайту);</p>
<p>- IP-адрес;</p>
<p>- данные файлов cookie.</p>
<p>Оператор гарантирует, что внешние по отношению к Оператору организации не имеют доступа к таким данным, которые могут
    использоваться Оператором, кроме случаев, явно оговоренных действующим законодательством Российской Федерации и
    настоящей Политикой. При получении персональных данных, не указанных в настоящем разделе, такие данные подлежат
    немедленному уничтожению.</p>
<p>1.8. Оператор осуществляет обработку персональных данных Субъектов персональных данных путем ведения баз данных
    автоматизированным, механическим, ручным способами в целях:</p>
<p>1.8.1. обработки заказов, запросов или других действий Субъекта персональных данных, связанных с приобретением
    билетов на мероприятия, проводимых в Концертном зале «Вегас Сити Холл», в т.ч. для уведомления об отмене, замене или
    переносе мероприятий, порядке возврата денег/денежных средств за билеты на мероприятия, подарочные талоны,
    направления иных информационных сообщений, касающихся мероприятий, на которые Субъект персональных данных приобрел
    (забронировал) билеты, и т.п.;</p>
<p>1.8.2. в случае выраженного согласия Субъекта персональных данных, в целях продвижения товаров, работ и услуг
    Оператора на рынке, оповещения о проводимых акциях, мероприятиях, скидках, проведения маркетинговых кампаний
    Оператора;</p>
<p>1.8.3. в иных целях в случае, если соответствующие действия Оператора не противоречат действующему законодательству,
    деятельности Оператора, и на проведение указанной обработки получено согласие Субъекта персональных данных;</p>
<p>1.8.4. данные, указанные в п. 1.7. настоящей Политики, обрабатываются в целях осуществления аналитики Сайта,
    отслеживания и понимания принципов использования Сайта посетителями, совершенствования функционирования Сайта,
    решения технических проблем Сайта, разработки новых продуктов, расширения услуг, выявления популярности мероприятий
    и определения эффективности рекламных кампаний; обеспечения безопасности и предотвращения мошенничества,
    предоставления эффективной клиентской поддержки (отображения ближайших касс, концертов и т.п.).</p>
<p>1.9. Оператор осуществляет обработку персональных данных посредством совершения любого действия (операции) или
    совокупности действий (операций), включая следующие:</p>
<p>-сбор;</p>
<p>-запись;</p>
<p>-систематизацию;</p>
<p>-накопление;</p>
<p>-хранение;</p>
<p>-уточнение (обновление, изменение);</p>
<p>-извлечение;</p>
<p>-использование;</p>
<p>-передачу (распространение, предоставление, доступ);</p>
<p>-обезличивание;</p>
<p>-блокирование;</p>
<p>-удаление;</p>
<p>-уничтожение.</p>
<p>2. Получение, использование и раскрытие персональных данных</p>
<p>2.1. Оператор получает и начинает обработку персональных данных Субъекта с момента получения его согласия.</p>
<p>Согласие на обработку персональных данных может быть дано Субъектом персональных данных в любой форме, позволяющей
    подтвердить факт получения согласия, если иное не установлено федеральным законом: в письменной, устной или иной
    форме, предусмотренной действующим законодательством, в том числе посредством совершения Субъектом персональных
    данных конклюдентных действий. В случае отсутствия согласия Субъекта персональных данных на обработку его
    персональных данных, такая обработка не осуществляется.</p>
<p>2.2. Персональные данные Субъектов персональных данных получаются Оператором:</p>
<p>путем личной передачи Субъектом персональных данных при внесении сведений в учетные формы в письменном виде на
    бумажных носителях в кассах Оператора;</p>
<p>путем личной передачи Субъектом персональных данных при внесении сведений в учетные формы в электронном виде на сайте
    по адресу vegas-hall.ru;</p>
<p>путем личной передачи Субъектом персональных данных при обращении в колл-центр и сообщения их в устной форме по
    телефону в процессе оформления заказа по приобретению билетов;</p>
<p>иными способами, не противоречащими законодательству Российской Федерации и требованиям международного
    законодательства о защите персональных данных.</p>
<p>2.3. Согласие на обработку персональных данных считается предоставленным посредством совершения Субъектом
    персональных данных любого действия или совокупности следующих действий:</p>
<p>заполнения документа на бумажном носителе в кассе Оператора;</p>
<p>оформления заказа на Сайте Оператора;</p>
<p>проставления на Сайте в соответствующей форме отметки о согласии на обработку персональных данных в объеме, для целей
    и в порядке, предусмотренных в предлагаемом перед получением согласия для ознакомления тексте;</p>
<p>сообщения персональных данных в устной форме, при обращении в колл-центр по телефону в процессе оформлении заказа по
    приобретению билетов.</p>
<p>2.4. Согласие считается полученным в установленном порядке и действует до момента направления Субъектом персональных
    данных соответствующего заявления о прекращении обработки персональных данных по месту нахождения Оператора.</p>
<p>2.5. Субъект персональных данных может в любой момент отозвать свое согласие на обработку персональных данных при
    условии, что подобная процедура не нарушает требований законодательства Российской Федерации.</p>
<p>Для отзыва согласия на обработку персональных данных Субъекту персональных данных необходимо направить письменное
    уведомление на почтовый адрес: 143402, Российская Федерация, Московская обл., Красногорский р-н, г. Красногорск, ул.
    Международная, д. 20, а/я 457.</p>
<p>В случае отзыва Субъектом персональных данных согласия на обработку его персональных данных, Оператор должен
    прекратить их обработку или обеспечить прекращение такой обработки (если обработка осуществляется другим лицом,
    действующим по поручению Оператора) и в случае, если сохранение персональных данных более не требуется для целей их
    обработки, уничтожить персональные данные или обеспечить их уничтожение (если обработка персональных данных
    осуществляется другим лицом, действующим по поручению Оператора)  в срок, не превышающий 30 (Тридцати) дней с даты
    поступления указанного отзыва, если иное не предусмотрено договором, стороной которого, выгодоприобретателем или
    поручителем по которому является Субъект персональных данных, иным соглашением между Оператором и Субъектом
    персональных данных, либо если Оператор не вправе осуществлять обработку персональных данных без согласия Субъекта
    персональных данных на основаниях, предусмотренных Федеральным законом N 152-ФЗ «О персональных данных» от
    27.07.2006 г. или другими федеральными законами.</p>
<p>3. Правила и порядок обработки персональных данных</p>
<p>3.1. Для достижения целей настоящей Политики к обработке персональных данных допущены только те сотрудники Оператора,
    на которых возложена такая обязанность в соответствии с их служебными (трудовыми) обязанностями. Оператор требует от
    своих сотрудников соблюдения конфиденциальности и обеспечения безопасности персональных данных, при их
    обработке.</p>
<p>3.2. В соответствии с настоящей Политикой Оператор может осуществлять обработку персональных данных самостоятельно, а
    также с привлечением третьих лиц, которые привлекаются Оператором и осуществляют обработку для выполнения указанных
    в настоящей Политики целей.</p>
<p>3.3. В случае поручения обработки персональных данных третьему лицу, объем передаваемых третьему лицу для обработки
    персональных данных и количество используемых этим лицом способов обработки должны быть минимально необходимым и для
    выполнения им своих обязанностей перед Оператором. В отношении обработки персональных данных третьим лицом
    устанавливается обязанность такого лица соблюдать конфиденциальность персональных данных и обеспечивать безопасность
    персональных данных при их обработке.</p>
<p>3.4. В процессе предоставления услуг, при осуществлении внутрихозяйственной деятельности Оператор использует
    автоматизированную, с применением средств вычислительной техники, так и неавтоматизированную, с применением
    бумажного документооборота, обработку персональных данных.</p>
<p>Принятие решений, порождающих юридические последствия в отношении Субъекта персональных данных или иным образом
    затрагивающих его права и законные интересы, на основании исключительно автоматизированной обработки персональных
    данных Оператором не производится.</p>
<p>Оператор хранит персональную информацию Субъектов персональных данных в соответствии с внутренним регламентом.</p>
<p>3.5. В отношении персональной информации Субъекта персональных данных сохраняется конфиденциальность, кроме случаев
    добровольного предоставления Субъектом информации о себе для общего доступа неограниченному кругу лиц. В данном
    случае Субъект персональных данных соглашается с тем, что определенная часть его персональной информации становится
    общедоступной.</p>
<p>4. Сведения о реализуемых требованиях к защите персональных данных</p>
<p>4.1. Деятельность Оператора по обработке персональных данных неразрывно связана с защитой Оператором
    конфиденциальности полученной информации.</p>
<p>4.2. Оператор требует от иных лиц, получивших доступ к персональным данным, не раскрывать третьим лицам и не
    распространять персональные данные без согласия Субъекта персональных данных, если иное не предусмотрено федеральным
    законом.</p>
<p>4.3. Все работники Оператора обязаны обеспечивать конфиденциальность персональных данных, а также иных сведений,
    установленных Оператором, если это не противоречит действующему законодательству Российской Федерации.</p>
<p>4.4. С целью обеспечения безопасности персональных данных при их обработке Оператор принимает необходимые
    и достаточные правовые, организационные и технические меры для защиты персональных данных от неправомерного или
    случайного доступа к ним, уничтожения, изменения, блокирования, копирования, предоставления, распространения
    персональных данных, а также от иных неправомерных действий в отношении них. Оператор обеспечивает, чтобы все
    реализуемые мероприятия по организационной и технической защите персональных данных осуществлялись на законных
    основаниях, в том числе в соответствии с требованиями законодательства Российской Федерации по вопросам обработки
    персональных данных.</p>
<p>4.5. Оператор применяет необходимые и достаточные правовые, организационные и технические меры по обеспечению
    безопасности персональных данных, включающие в себя:</p>
<p>-  определение угроз безопасности персональных данных при их обработке в информационных системах персональных
    данных;</p>
<p>- применение организационных и технических мер по обеспечению безопасности персональных данных при их обработке в
    информационных системах персональных данных, необходимых для выполнения требований к защите персональных данных,
    исполнение которых обеспечивает установленные Правительством Российской Федерации уровни защищенности персональных
    данных;</p>
<p>-  применение прошедших в установленном порядке процедуру оценки соответствия средств защиты информации;</p>
<p>-  оценку эффективности принимаемых мер по обеспечению безопасности персональных данных до ввода в эксплуатацию
    информационной системы персональных данных;</p>
<p>-  учет машинных носителей персональных данных;</p>
<p>- обнаружение фактов несанкционированного доступа к персональным данным и принятием мер;</p>
<p>-  восстановление персональных данных, модифицированных или уничтоженных вследствие несанкционированного доступа к
    ним;</p>
<p>- проведение мероприятий, направленных на предотвращение несанкционированного доступа к персональным данным и (или)
    передача их лицам, не имеющим права доступа к такой информации;</p>
<p>-  своевременное обнаружение фактов несанкционированного доступа к персональным данным и принятием необходимых
    мер;</p>
<p>- недопущение воздействия на технические средства автоматизированной обработки персональных данных, в результате
    которого может быть нарушено их функционирование;</p>
<p>-  установление правил доступа к персональным данным, обрабатываемым в информационной системе персональных данных, а
    также обеспечение регистрации и учета всех действий, совершаемых с персональными данными в информационной системе
    персональных данных;</p>
<p>-  контроль за принимаемыми мерами по обеспечению безопасности персональных данных и уровня защищенности
    информационных систем персональных данных.</p>
<p>В состав мер по обеспечению безопасности персональных данных, реализуемых Оператором в рамках системы защиты
    персональных данных с учетом актуальных угроз безопасности персональных данных и применяемых информационных
    технологий, входят:</p>
<p>-  идентификация и аутентификация субъектов доступа и объектов доступа;</p>
<p>-  управление доступом субъектов доступа к объектам доступа;</p>
<p>-  ограничение программной среды;</p>
<p>-  защита машинных носителей информации, на которых хранятся и (или) обрабатываются персональные данные;</p>
<p>-  регистрация событий безопасности;</p>
<p>-  антивирусная защита;</p>
<p>-  обнаружение (предотвращение) вторжений;</p>
<p>-  обеспечение целостности информационной системы и персональных данных;</p>
<p>-  защита среды виртуализации;</p>
<p>-  защита технических средств;</p>
<p>-  защита информационной системы, ее средств, систем связи и передачи данных;</p>
<p>-  выявление инцидентов (одного события или группы событий), которые могут привести к сбоям или нарушению
    функционирования информационной системы и (или) к возникновению угроз безопасности персональных данных, и
    реагирование на них;</p>
<p>-  управление конфигурацией информационной системы и системы защиты персональных данных.</p>
<p>4.6. В целях обеспечения соответствия уровня защиты персональных данных требованиям Федерального закона от 27.07.2006
    N 152-ФЗ «О персональных данных» и Федерального закона от 27.07.2006 N 149-ФЗ «Об информации, информационных
    технологиях и о защите информации» Оператор не раскрывает информацию о конкретных применяемых средствах и мерах
    обеспечения информационной безопасности персональных данных.</p>
<p>4.7. Оператор обязуется не разглашать полученную от Субъекта персональных данных информацию. Не считается нарушением
    предоставление Оператором информации агентам и третьим лицам, действующим на основании договора с Оператором, для
    исполнения обязательств перед Субъектом персональных данных. Не считается нарушением обязательств разглашение
    информации в соответствии с обоснованными и применимыми требованиями закона.</p>
<p>   </p>
<p>5. Согласие на получение рекламной информации по сетям электросвязи</p>
<p>5.1. Оставляя заявку на получение рассылки/подписываясь на получение рекламной информации:</p>
<p>- в кассе Оператора, путем заполнения соответствующего документа на бумажном носителе;</p>
<p>- на Сайте, путем проставления галочки Субъектом персональных данных на соответствующей веб-странице;</p>
<p>- по телефону в устной форме при обращении в колл-центр Оператора</p>
<p>означает согласие Субъекта персональных данных на получение от Оператора и привлеченных Оператором третьих лиц, по
    сетям электросвязи (по предоставленным номеру мобильного телефона и адресу электронной почты) информационных
    сообщений, а в том числе информации коммерческого рекламного характера (рекламы), указанных в п.1.8.2. настоящей
    Политики.</p>
<p>5.2. Давая согласие, указанное в п. 5.1. настоящей Политики, Субъект персональных данных подтверждает, что действует
    по своей воле и в своем интересе, а также то, что указанные персональные данные являются достоверными.</p>
<p>6. Заключительные положения</p>
<p>6.1. Настоящая Политика утверждается приказом Директора Филиала «Крокус Сити Холл» АО «КРОКУС» и вступает в силу со
    дня его подписания.</p>
<p>6.2. В данную Политику могут вноситься изменения и дополнения, которые утверждаются приказом Директора Филиала
    «Крокус Сити Холл» АО «КРОКУС».</p>
6.3. Действующая версия Политики размещена в открытом доступе сети Интернет по адресу:
<a target="_blank" href="http://www.vegas-hall.ru">vegas-hall.ru</a>.