<h2 class="align-center">ПРАВИЛА ПРИОБРЕТЕНИЯ БИЛЕТОВ</h2>
<br/>
<p>1. Определения</p>
<p>1.1. Агент - Акционерное общество «КРОКУС ИНТЕРНЭШНЛ» «CROCUS INTERNATIONAL» (сокращенное наименование АО «КРОКУС»,
    ОГРН 1027700257023, место нахождения - 143402, Московская область, Красногорский район, г. Красногорск, ул.
    Международная, д. 18), осуществляющее реализацию Билетов на Мероприятия от имени и за счет соответствующих
    Организаторов либо от своего имени, если Организатором является АО «КРОКУС».</p>
<p>1.2. Билет - документ, удостоверяющий принадлежащее владельцу Билета право требования посещения Мероприятия и показа
    ему соответствующей концертной программы к Организатору независимо от участия в его реализации посредников (билетных
    агентов). При этом:</p>
<p>Билет-БСО – Билет, сформированный на бланке строгой отчетности.</p>
<p>Электронный билет - Билет, оплата Клиентом которого производится Клиентом через Сайт, и направляемый Клиенту на
    указанную им электронную почту.</p>
<p>1.3. Клиент – сделкоспособное лицо, приобретающее Билет или имеющее такое намерение.</p>
<p>1.4. Концертная площадка – концертный зал, ресторан и т.п.</p>
<p>1.5. Мероприятие – концерт (театральное, цирковое представление и т.п.), посредством которого осуществляется показ
    владельцам Билетов соответствующей концертной программы.</p>
<p>1.6. Организатор - лицо, которое взяло на себя инициативу и ответственность за проведение Мероприятия, и являющееся
    исполнителем услуги по посещению Мероприятия и показу соответствующей концертной программы.</p>
<p>1.7. Сайт – официальный веб-сайт концертного зала «Вегас Сити Холл», размещенный по адресу - www.vegas-hall.ru,
    www.vegas-hall.com.</p>
<br/>
<p>2. Общие положения</p>
<p>2.1. Настоящие Правила регулируют условия и порядок приобретения Билетов, как через Сайт, так и в кассах Агента.
    Рекомендуем внимательно ознакомиться с настоящими Правилами до приобретения Билета на Мероприятие и при
    возникновении каких-либо вопросов связаться с нами, так как оформление бронирования или покупки Билета на
    Мероприятие означает безоговорочное согласие Клиента с настоящими Правилами.</p>
<p>2.2. Информация об Организаторе каждого Мероприятия предусмотрена на Сайте, а также на каждом Билете. Кроме того, при
    приобретении Билета в кассе Агента Клиент имеет возможность получить информацию об Организаторе конкретного
    Мероприятия еще до его оплаты, обратившись к кассиру.</p>
<p>Агент также оказывает Клиентам сопутствующие реализации Билетов дополнительные услуги – предоставляет возможность
    бронирования Билетов, а также обеспечивает доставку Билетов согласно условиям, предусмотренным в настоящих
    Правилах.</p>
<p>2.3. Ответственным за оказание услуги по посещению Мероприятия и показу соответствующей концертной программы перед
    владельцами Билетов является Организатор. Агент не контролирует и не несет ответственности за действия Организатора,
    привлеченных им третьих лиц, в том числе за организацию и проведение Мероприятия, за надлежащее предоставление всей
    информации, касающейся Мероприятия, а также за отмену, замену, перенос Мероприятия.</p>
<p>2.4. Агент не несет ответственности за несоответствие Мероприятия ожиданиям Клиента, его субъективной оценке.</p>
<p>2.5. При приобретении Билетов просим принимать во внимание знак информационной продукции соответствующего
    Мероприятия, а также необходимость соблюдения требований ст. 4 Закона Московской области от 04.12.2009 г. № 148/2009
    – ОЗ «О мерах по предупреждению причинения вреда здоровью и развитию несовершеннолетних в Московской области» - не
    допускается нахождение несовершеннолетних в возрасте до 16 лет в ночное время с 22 часов до 6 часов, а в период с 1
    мая по 31 августа в ночное время с 23 часов до 6 часов, и несовершеннолетних в возрасте от 16 до 18 лет в ночное
    время с 23 часов до 6 часов без сопровождения родителей (лиц их заменяющих), а также лиц, осуществляющих мероприятия
    с участием несовершеннолетних, в общественных местах, в том числе на объектах (на территории, в помещениях)
    юридических лиц, которые предназначены для развлечений, досуга, где в установленном законом порядке предусмотрена
    розничная продажа алкогольной продукции, пива и напитков, изготавливаемых на его основе.</p>
<p>При этом просим учесть, что в случае нарушения указанных требований законодательства Российской Федерации владельцу
    Билета может быть отказано в посещении Мероприятия без возврата стоимости Билета.</p>
<p>2.6. Перед приобретением Билета просим также ознакомиться с Правилами соответствующей Концертной площадки, а также <a
            role="button" class="modal-link" data-content="rules"
            data-document="{{ ticket_settings.system }}/personal_data"
            data-source="document_{{ ticket_settings.system }}_rules">Политикой в отношении обработки персональных
        данных АО «КРОКУС»</a>. Оформление бронирования или покупки Билета на Мероприятие означает также безоговорочное
    согласие Клиента с указанными правилами и условиями.</p>
<p>2.7. Все претензии Клиентов, связанные с нарушениями законодательства Российской Федерации о защите прав
    потребителей, рекламе и т.п. при проведении и организации Мероприятия, с качеством услуги по посещению Мероприятия и
    показу соответствующей концертной программы и т.п., должны направляться Клиентами непосредственно Организатору
    соответствующего Мероприятия. В случае поступления таких претензий Агенту они будут направляться Агентом для
    рассмотрения соответствующему Организатору.</p>
<p>Кроме того, претензии и вопросы Клиентов относительно содержащейся в информационных и рекламных материалах (в том
    числе тех, что размещены на Сайте) о Мероприятии информации Агент также перенаправляет соответствующему
    Организатору.</p>
<br/>
<p>3. Билеты</p>
<p>3.1. Билеты могут быть приобретены Клиентом в кассах Агента, через Сайт, а также при доставке забронированных им
    Билетов.</p>
<p>3.2. Просим принять во внимание, что один Клиент единовременно вправе приобрести не более 6 (Шести) Билетов на одно
    Мероприятие, если иное не оговорено на Сайте или в информации, размещенной в кассах Агента.</p>
<p>3.3. Реализация Клиенту Билета осуществляется исключительно для личных целей, не связанных с осуществлением Клиентом
    предпринимательской деятельности. Клиент не вправе использовать Билет с целью рекламы своих товаров (работ, услуг),
    товаров (работ, услуг) третьего лица, осуществлять перепродажу приобретенных Билетов.</p>
<p>Владение Билетом не дает права Клиенту изменять, копировать, использовать иным способом любые указанные на нем
    обозначения/логотипы, товарные знаки, иные результаты интеллектуальной деятельности.</p>
<p>3.4. Обращаем внимание на то, что удаление какой-либо части Билета, изменение или повреждение Билета может привести к
    недействительности Билета.</p>
<p>Ни Агент, ни соответствующий Организатор не несут ответственности в случае если приобретенный Билет утерян, украден,
    поврежден и т.п..</p>
<p>3.5. Клиент несет все риски, связанные с копированием (посредством сканирования, фотографирования и т.п.) Билета, с
    приобретением Билета у третьих лиц. Проход на Концертную площадку будет разрешен первому, кто предъявил Билет, в
    связи с чем не копируйте, не сканируйте, не фотографируйте и не выкладывайте фото/скан приобретенного Билета со
    штрих кодом в сети интернет.</p>
<p>3.6. Просим внимательно проверять Билет при его получении и в случае наличия ошибок/некорректной информации
    незамедлительно сообщать Агенту.</p>
<p>3.7. В случае приобретения Билета через Сайт Клиенту необходимо распечатать Электронный билет на чистом белом листе
    формата А4.</p>
<p>Электронный билет может быть распечатан на цветном или на черно-белом, на лазерном, или на струйном принтере. При
    этом качество печати должно быть не ниже 300 Dpi.</p>
<p>Все Электронные билеты подлежат обмену на соответствующие им Билеты-БСО в любой кассе Агента по выбору Клиента.</p>
<p>Гарантом уникальности Электронного билета являются Штрих код. Билет-БСО может быть выдан только при условии, что
    штрих код считывается сканирующим устройством, и лист, на котором распечатан Электронный билет, не смят, не
    поврежден и не испачкан.</p>
<p>Электронный билет с исправлениями и помарками недействителен.</p>
<br/>
<p>4. Стоимость Билета и оплата</p>
<p>4.1. Стоимость Билета устанавливается Организаторами Мероприятий. Агент реализует Билеты по стоимости, установленной
    Организатором (Номинальная стоимость).</p>
<p>4.2. Билет может быть получен Клиентом только после полной оплаты его стоимости.</p>
<p>4.3. Оплата Билетов может осуществляться:</p>
<p>- в кассах за наличный расчет, а также с использованием платежных карт (VISA International, MasterCard);</p>
<p>- курьеру при доставке Билетов путем оплаты наличными деньгами или с использованием платежных карт (VISA
    International, MasterCard);</p>
<p>- через Сайт путем безналичного перечисления денежных средств с использованием платежных карт (VISA International,
    MasterCard, American Express).</p>
<p>4.4. Оплата Билетов через Сайт (в том числе ввод реквизитов платежной карты) происходит в системе интернет-платежей
    Platron (ЗАО «Платрон», ОГРН 1097746209  www.platron.ru, 8 (495) 983-32-79), куда Клиент будет автоматически
    переадресован с Сайта для осуществления оплаты. Банк-эквайер - АО «Банк Русский Cтандарт» (ОГРН 1027739210630).</p>
<br/>
<p>5. Отмена, замена или перенос Мероприятия. Возврат стоимости Билетов</p>
<p>5.1. В случае получения Агентом от Организатора уведомления об отмене, замене, переносе им Мероприятия Агент
    размещает соответствующую информацию на Сайте и в кассах Агента. Кроме того, Агент оповещает Клиентов об отмене,
    замене, переносе Мероприятия путем отправки на указанные Клиентом номер или адрес электронный почты соответствующего
    сообщения. Информация об отмене, замене, переносе Мероприятия может быть доведена до Клиентов и путем их обзвона
    Агентом. При этом обработка персональных данных Клиента осуществляется строго в соответствии с <a role="button"
                                                                                                      class="modal-link"
                                                                                                      data-content="rules"
                                                                                                      data-document="{{ ticket_settings.system }}/personal_data"
                                                                                                      data-source="document_{{ ticket_settings.system }}_rules">Политикой
        в отношении обработки персональных данных АО «КРОКУС».</a></p>
<p>5.2. Ответственность за неисполнение или ненадлежащее исполнение обязательства по оказанию услуги по посещению
    Мероприятия и показу соответствующей концертной программы в полном объеме (в том числе в соответствии с Законом
    Российской Федерации от 07.02.1992 N 2300-1 "О защите прав потребителей") несет соответствующий Организатор.</p>
<p>5.3. В случае изменения состава артистов, выступающих в Мероприятии (сборный концерт), возврат стоимости Билета
    Клиенту возможен только при существенном изменении заявленного изначально состава артистов.</p>
<p>5.4. В случае отмены, замены, переноса Мероприятия или существенного изменения состава артистов, выступающих в
    Мероприятии (сборный концерт), возврат Номинальной стоимости Билета осуществляется Организатором.</p>
<p>Агент может быть уполномочен Организатором осуществлять от его имени возврат Номинальной стоимости Билетов Клиентам,
    если Организатором и Агентом достигнуто соответствующее соглашение. В случае если Агент уполномочен осуществлять
    возврат, то данная информация может доводиться до Клиентов, в том числе способами, предусмотренными в п. 5.1.
    настоящих Правил.</p>
<p>5.5. Возврат денег/денежных средств в случае отмены, замены, переноса Мероприятия осуществляется исключительно
    Клиенту, который приобрел Билет. При оплате Билетов с помощью платежной карты возврат денежных средств производится
    на ту платежную карту, с которой была произведена оплата.</p>
<p>5.6. Исключительно Организатор принимает решение по вопросам возмещения затрат Клиента, связанных с посещением
    Мероприятия, и несет за это ответственность.</p>
<br/>
<p>6. Бронирование Билетов</p>
<p>6.1. Клиент может забронировать Билет онлайн через Сайт, а также по телефону колл-центра Агента: 8 (499)
    550-00-55.</p>
<p>6.2. Срок действия бронирования составляет 24 часа. При этом все бронирования аннулируются за 2 часа до начала
    Мероприятия.</p>
<p>6.3. Агент вправе аннулировать бронирование Билетов тех лиц, которые указали неверные данные (имя, фамилию, адрес
    e-mail, контактный телефон, адрес доставки и т.п.).</p>
<p>6.4. Информацию по доставке Билетов Клиент может уточнить по телефону, указанному в п. 6.1. настоящих Правил.</p>
<p>6.5. Выкупить забронированный Билет можно в любой кассе Агента, сообщив при этом номер бронирования и имя, или
    заказав доставку Билета.</p>
<p>6.6. Услуга бронирования Билетов является бесплатной.</p>
<br/>
<p>7. Доставка Билетов</p>
<p>7.1. Клиент может заказать доставку забронированных им Билетов на Сайте или через колл-центр Агента. Агент
    обеспечивает оказание услуги доставки Билетов на следующих условиях:</p>
<p>7.1.1. Доставку Билетов осуществляет ООО «Меридиан» (ОГРН 1145029001369, адрес местонахождения: 141008, Российская
    Федерация, Московская обл., г. Мытищи, ул. Летная, д. 3/15).</p>
<p>7.1.2. При оформлении доставки Билетов необходимо подробно описать адрес доставки общественным транспортом.</p>
<p>7.1.3. На следующий рабочий день после заказа доставки работник отдела доставки свяжется с Клиентом по указанному им
    номеру мобильного телефона.</p>
<p>7.1.4. Доставка осуществляется в течение 3-5 рабочих дней.</p>
<p>7.1.5. Цены за доставку Билетов:</p>
<p>- 300,00 руб. - по Москве (в пределах МКАД);</p>
<p>- 600,00 руб. - за пределы МКАД (до 30 км, включая г. Зеленоград);</p>
<p>- + 1% от суммы заказа (номинальная стоимость Билетов), в случае если сумма заказа равна или превышает 30 000,00
    руб.</p>
<p>7.2. В случае отмены Мероприятия расходы на доставку Билета Клиенту возмещению Агентом не подлежат.</p>
<br/>
<p>8. Применимое право</p>
<p>В отношении настоящих Правил, а также прав и обязанностей, которые возникают в связи с приобретением Билетов,
    подлежит применению материальное и процессуальное право Российской Федерации, компетентный суд – суд Российской
    Федерации по месту нахождения соответствующего Организатора (договорная подсудность) в соответствии с правилами о
    подведомственности спора.</p>
<br/>
<p>9. Изменения настоящих Правил</p>
<p>Агент вправе в одностороннем порядке вносить в настоящие Правила изменения. Новая редакция настоящих Правил действует
    с момента опубликования на Сайте.</p>