<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/js/lib/bootstrap-3.3.6-dist/css/bootstrap.min.css">
    {% for file in css %}
        <link rel="stylesheet" type="text/css" href="{{ file.path ~ '?' ~ file.last_modified }}">
    {% endfor %}
</head>
<body>
<div class="container">
    <div class="col-sm-4 col-sm-offset-4" style="margin-top: 30px;">
        <form action="/adminarea/login" method="post">
            <input type="hidden" name="back" value="{{ params['back'] }}" class="form-control">
            <div class="form-group">
                <input type="text" name="login" placeholder="Login" class="form-control">
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Password" class="form-control">
            </div><br>
            <input type="submit" value="Login" class="btn btn-default">
        </form>
    </div>
</div>
{% block scripts %}
    {% for file in js %}
        <script type="text/javascript" src="{{ file.path ~ '?' ~ file.last_modified }}"></script>
    {% endfor %}
{% endblock %}
</body>
</html>
