<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/js/lib/bootstrap-3.3.6-dist/css/bootstrap.min.css">
    {% for file in css %}
        <link rel="stylesheet" type="text/css" href="{{ file.path ~ '?' ~ file.last_modified }}">
    {% endfor %}
</head>
<body>
<div class="col-lg-12">
    <table id="platron_transactions__table" class="table table-bordered">
        <tr>
            <th class="col-sm-1">ID</th>
            <th class="col-sm-1">ID заказа</th>
            <th class="col-sm-1">ID платежа</th>
            <th class="col-sm-1">Сумма</th>
            <th class="col-sm-3">Описание</th>
            <th class="col-sm-2">Платёжная система</th>
            <th class="col-sm-1">Статус</th>
            <th class="col-sm-2">Дата</th>
        </tr>
        {% for row in logs %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.order_id }}</td>
                <td>{{ row.payment_id }}</td>
                <td>{{ row.sum }}</td>
                <td>{{ row.description }}</td>
                <td>{{ row.pay_system }}</td>
                <td>{{ row.status }}</td>
                <td>{{ row.datetime_created }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% block scripts %}
    {% for file in js %}
        <script type="text/javascript" src="{{ file.path ~ '?' ~ file.last_modified }}"></script>
    {% endfor %}
{% endblock %}
</body>
</html>
