<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/js/lib/bootstrap-3.3.6-dist/css/bootstrap.min.css">
    {% for file in css %}
        <link rel="stylesheet" type="text/css" href="{{ file.path ~ '?' ~ file.last_modified }}">
    {% endfor %}
</head>
<body>
<div class="col-lg-9">
    <table id="platron_transactions__table" class="table table-bordered">
        <tr>
            <th>Дата</th>
            <th>Id</th>
            <th>ID мероприятия</th>
            <th>ID заказа</th>
            <th>ID транзакции</th>
            <th>URL запроса</th>
            <th>Запрос</th>
            <th>Ответ</th>
            <th>Тип запроса</th>
            <th>Направление</th>
        </tr>
        {% for row in transactions %}
            <tr>
                <td>{{ row.date_updated }}</td>
                <td>{{ row.id }}</td>
                <td>{{ row.event_id }}</td>
                <td>{{ row.order_id }}</td>
                <td>{{ row.transaction_id }}</td>
                <td>{{ row.url }}</td>
                <td>{{ row.request }}</td>
                <td>{{ row.response }}</td>
                <td>{{ row.type }}</td>
                <td>{% if row.direction == 'income' %}Исходящий{% elseif row.direction == 'outcome' %}Входящий{% endif %}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% block scripts %}
    {% for file in js %}
        <script type="text/javascript" src="{{ file.path ~ '?' ~ file.last_modified }}"></script>
    {% endfor %}
{% endblock %}
</body>
</html>