<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/js/lib/bootstrap-3.3.6-dist/css/bootstrap.min.css">
    {% for file in css %}
        <link rel="stylesheet" type="text/css" href="{{ file.path ~ '?' ~ file.last_modified }}">
    {% endfor %}
</head>
<body>
<div class="col-lg-12">
    <form action="/adminarea/tickets" method="get">
        <table id="platron_transactions__table" class="table table-bordered">
            <tr>
                <th class="col-sm-1">ID заказа</th>
                <th class="col-sm-1">ID билеты</th>
                <th class="col-sm-1">Дата покупки</th>
                <th class="col-sm-1">Цена</th>

                <th class="col-sm-1">ID мероприятия</th>
                <th class="col-sm-1">Мероприятие</th>
                <th class="col-sm-1">Дата проведения</th>
                <th class="col-sm-1">Сегмент</th>

                <th class="col-sm-1">Ряд</th>
                <th class="col-sm-2">Место</th>
                <th class="col-sm-2">Email</th>
                <th class="col-sm-2">Телефон</th>

                <th class="col-sm-2">ФИО</th>
                <th class="col-sm-2">Ссылка на билет</th>
            </tr>
            <tr>
                <td>
                    <input type="text" name="order_id" value="{{ params['order_id'] }}">
                </td>
                <td>
                    <input type="text" name="ticket_id" value="{{ params['ticket_id'] }}">
                </td>
                <td></td>
                <td>
                    <input type="text" name="price" value="{{ params['price'] }}">
                </td>
                <td>
                    <input type="text" name="event_id" value="{{ params['event_id'] }}">
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <input type="text" name="client_email" value="{{ params['client_email'] }}">
                </td>
                <td>
                    <input type="text" name="client_phone" value="{{ params['client_phone'] }}">
                </td>
                <td>
                    <input type="text" name="client_name" value="{{ params['client_name'] }}">
                </td>
            </tr>
            {% for row in tickets %}
                <tr>
                    <td>{{ row.order_id }}</td>
                    <td>{{ row.ticket_id }}</td>
                    <td>{{ row.buy_datetime }}</td>
                    <td>{{ row.price }}</td>
                    <td>{{ row.event_id }}</td>
                    <td>{{ row.event_name }}</td>
                    <td>{{ row.event_datetime }}</td>
                    <td>{{ row.segment }}</td>
                    <td>{{ row.row }}</td>
                    <td>{{ row.seat }}</td>
                    <td>{{ row.client_email }}</td>
                    <td>{{ row.client_phone }}</td>
                    <td>{{ row.client_name }}</td>
                    <td>http://tickets.vegas.hp.webway.ru/ticket/{{ row.ticket_hash }}</td>
                </tr>
            {% endfor %}
        </table>
        <input type="submit" style="display: none">
    </form>
</div>
{% block scripts %}
    {% for file in js %}
        <script type="text/javascript" src="{{ file.path ~ '?' ~ file.last_modified }}"></script>
    {% endfor %}
{% endblock %}
</body>
</html>
