@font-face {
    font-family: 'RobotoCondensed-Regular';
    font-weight: normal;
    font-style: normal;

    src: url('/fonts/RobotoCondensed-Regular/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/RobotoCondensed-Regular/RobotoCondensed-Regular.woff') format('woff'),
    url('/fonts/RobotoCondensed-Regular/RobotoCondensed-Regular.ttf') format('truetype'),
    url('/fonts/RobotoCondensed-Regular/RobotoCondensed-Regular.svg#RobotoCondensed-Regular') format('svg');
}

@font-face {
    font-family: 'RobotoCondensed-Light';
    font-weight: normal;
    font-style: normal;

    src: url('/fonts/RobotoCondensed-Light/RobotoCondensed-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/RobotoCondensed-Light/RobotoCondensed-Light.woff') format('woff'),
    url('/fonts/RobotoCondensed-Light/RobotoCondensed-Light.ttf') format('truetype'),
    url('/fonts/RobotoCondensed-Light/RobotoCondensed-Light.svg#RobotoCondensed-Light') format('svg');
}

@font-face {
    font-family: 'RobotoCondensed-Bold';
    font-weight: normal;
    font-style: normal;

    src: url('/fonts/RobotoCondensed-Bold/RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/RobotoCondensed-Bold/RobotoCondensed-Bold.woff') format('woff'),
    url('/fonts/RobotoCondensed-Bold/RobotoCondensed-Bold.ttf') format('truetype'),
    url('/fonts/RobotoCondensed-Bold/RobotoCondensed-Bold.svg#RobotoCondensed-Bold') format('svg');
}

@font-face {
    font-family: 'Roboto-Thin';
    font-weight: normal;
    font-style: normal;

    src: url('/fonts/Roboto-Thin/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Roboto-Thin/Roboto-Thin.woff') format('woff'),
    url('/fonts/Roboto-Thin/Roboto-Thin.ttf') format('truetype'),
    url('/fonts/Roboto-Thin/Roboto-Thin.svg#Roboto-Thin') format('svg');
}

@font-face {
    font-family: 'Roboto-Light';
    font-weight: normal;
    font-style: normal;

    src: url('/fonts/Roboto-Light/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Roboto-Light/roboto-light-webfont.woff') format('woff'),
    url('/fonts/Roboto-Light/roboto-light-webfont.ttf') format('truetype'),
    url('/fonts/Roboto-Light/roboto-light-webfont.svg#roboto-light-webfont') format('svg');
}

@font-face {
    font-family: 'Roboto-Medium';
    font-weight: normal;
    font-style: normal;

    src: url('/fonts/Roboto-Medium/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Roboto-Medium/roboto-medium-webfont.woff') format('woff'),
    url('/fonts/Roboto-Medium/roboto-medium-webfont.ttf') format('truetype'),
    url('/fonts/Roboto-Medium/roboto-medium-webfont.svg#roboto-medium-webfont') format('svg');
}

@font-face {
    font-family: 'Roboto-Regular';
    font-weight: normal;
    font-style: normal;

    src: url('/fonts/Roboto-Regular/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Roboto-Regular/roboto-regular-webfont.woff') format('woff'),
    url('/fonts/Roboto-Regular/roboto-regular-webfont.ttf') format('truetype'),
    url('/fonts/Roboto-Regular/roboto-regular-webfont.svg#roboto-regular-webfont') format('svg');
}

body {
    font-family: RobotoCondensed-Regular;

    background: #000;
}

.ticket__wrapper {
    position: relative;

    overflow: hidden;

    width: 1200px;
    min-height: 775px;
    margin: 0 auto;

    background-color: #1c212f;
}

.ticket__container {
    position: absolute;

    width: 100%;
    min-width: 500px;
    height: 100%;
    min-height: 200px;
}

#ticket-steps__wrapper {
    position: absolute;

    width: 100%;
    height: 656px;
    margin: 0 auto;
    padding: 20px 30px;

    background: #1d222e;
}

.ticket-step {
    position: relative;

    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 0;

    color: #bfbfbf;
    background-color: #1d222e;
}

.steps {
    position: relative;
    z-index: 8;

    margin-bottom: 25px;
}

#step__choose_event {
    position: relative;

    width: 966px !important;
    height: 650px !important;
    margin: 0 auto;
    margin-bottom: 0;

    color: #bfbfbf;
    background-color: #1d222e;
}

div#step__confirm-phone {
    position: absolute;
/ / height: 410 px !important;
    z-index: 9;
    bottom: 0;
/ / left: - 80 px;

    width: 195px !important;
/ / background: transparent;
}

.modal-content {
    border-radius: 0;
}

#ticket-schema_plan {
    width: 966px !important;
    height: 560px !important;
}

.ticket-step .table-bordered > thead > tr > td {
    border-bottom-width: 1px;
}

.ticket-step form input {
    font-family: 'Roboto-Light';
    font-size: 16px;
    font-weight: 300;

    width: 100%;
    margin-bottom: 5px;
    padding: 5px;

    vertical-align: middle;

    opacity: .7;
    color: #a7aab3;
    border: 1px solid #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: transparent;
}

.ticket-step form input:focus {
    outline-style: none;
}

.full_block {
    width: 100%;
}

.right_block {
    right: 0;

    width: 50%;
}

.roll-content {
    display: none;
}

.roll-link,
.modal-link {
    text-decoration: none;

    border-bottom: 1px dashed;
}

.loading_overlay {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    opacity: .8;
    background: #000;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 31px;
    height: 31px;
    margin: -15px 0 0 -15px;

    background: 0 0 no-repeat url('/pics/loading.gif');
}

.loading_message {
    font-size: 16px;

    position: absolute;
    top: 60%;

    width: 100%;

    text-align: center;

    color: #fff;
}

#ticket-schema_plan {
    position: relative;

    overflow: hidden;

    width: 100%;
    height: 100%;
/ / background: #1d222e url(../pics/scene.png) 103 px - 172 px no-repeat;
}

#ticket-schema_plan_canvas__seats_overlay {
    width: 100%;
    height: 100%;
    height: 530px !important;

    /*z-index: 2;*/
}

.pointer * {
    cursor: pointer;
}

.dragger * {
    cursor: move;
}

label {
    cursor: pointer;
}

label span {
    color: #e0001a;
}

#bubble_seat {
    margin-top: -20px;
}

.ticket-bubble {
    font-family: Roboto-Light;

    position: absolute;

    white-space: nowrap;

    color: black;
    z-index: 1;
}

#ticket-controls {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 170px;
}

.ticket-schema_plan_canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.ticket-schema_plan_canvas.selected {
    cursor: pointer;
}

.canvas-container {
    /*z-index: 2;*/
    position: absolute !important;
}

#ticket-schema_plan_svg {
    background: url(../pics/scene.png) 103px -172px no-repeat;
}

#ticket-schema_mini {
    position: absolute;
    top: 0;
    right: 0;

    display: none;

    width: 200px;
    height: 100px;

    border: 1px #8699a4 solid;
    background-color: #1d222e;
}

.submit_button {
    z-index: 2;
}

.disabled_button {
    cursor: default;

    color: gray;
}

#ticket_card {
    display: none;
}

#ticket_card__container {
    position: absolute;
    z-index: 3;
    bottom: 60px;
    left: 80px;

    max-width: 760px;
}

.ticket_card {
    font-size: 13px;

    position: relative;

    min-width: 122px;
    margin-left: 3px;
    padding: 5px 4px;

    color: #000;
    border: 1px solid #bbb;
    border-radius: 2px;
    background-color: #fff;
}

.ticket_card .remove_button {
    float: right;

    width: 18px;
    height: 18px;
}

.steps_ttl {
    display: inline-block;

    vertical-align: middle;
}

.steps_ttl p {
    font-family: 'Roboto-Regular';
    font-size: 22px;
    font-weight: 500;

    margin: 0;
    margin-right: 25px;

    text-transform: uppercase;

    color: #f3cd00;
}

.step_item {
    display: inline-block;

    margin-right: 50px;

    vertical-align: middle;
}

.step_item.active span {
    font-family: 'Roboto-Regular';
    font-size: 22px;
    font-weight: 500;

    display: inline-block;

    margin-right: 15px;

    vertical-align: middle;
    text-transform: uppercase;

    color: #53c511;
}

.step_item.active span + span {
    font-family: 'Roboto-Regular';
    font-size: 14px;
    font-weight: 300;
    line-height: 15px;

    text-transform: lowercase;

    color: #53c511;
}

.step_item span {
    font-family: 'Roboto-Regular';
    font-size: 22px;
    font-weight: 500;

    display: inline-block;

    margin-right: 15px;

    vertical-align: middle;
    text-transform: uppercase;

    color: #a7aab3;
}

.step_item span + span {
    font-family: 'Roboto-Regular';
    font-size: 14px;
    font-weight: 300;
    line-height: 15px;

    text-transform: lowercase;

    color: #a7aab3;
}

.ticket_card-price {
    margin: 5px 0 0 0;

    text-align: center;
}

.ticket_card-price .rouble {
    margin-left: 2px;
}

.ticket_card-price .rouble:before {
    top: .23em;
}

.ticket_card-description {
    font: 12px/1.5 'Roboto-Light', Arial, Helvetica, sans-serif;

    margin: 2px 0 7px 0;

    text-align: center;
}

.table-tickets > tbody > tr > td {
    vertical-align: middle;
    border-left: 0;
    border-right: 0;
    border-color: #595959;
    text-align: left;
    position: relative;
}

.table-bordered {
    border: 0;
}

#timer {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;

    display: none;

    height: 55px;
}

#timer span {
    font-family: Roboto-Light;
    font-size: 14px;
    font-weight: 300;

    display: block;

    margin-top: 55px;
    margin-bottom: 70px;
    margin-left: 30px;

    text-align: center;
    letter-spacing: 1.5px;

    color: #57cb12;
}

.alert {
    color: red;
}

.error_message__container {
    position: absolute;

    height: 100%;

    text-align: center;

    border: 1px solid #000;
    background-color: #fff;
}

.card_pay {
    display: inline-block;

    width: 102px;
    height: 64px;
}

.card_visa {
    background: url('/pics/buy-tickets/cro_visa.png') no-repeat;
}

.card_mastercard {
    background: url('/pics/buy-tickets/cro_mcard.png') no-repeat;
}

#step__choose_event .btn-block {
    right: -50px;
}

/* legend */
.legend_table-prices {
    font-family: 'Roboto-Regular';
    font-size: 18px;
    font-weight: 300;
    position: absolute;
    bottom: 60px;
    left: -70px;
    display: block;
    overflow-y: auto;
    max-height: 600px;
    color: #bfbfbf;
    background: #1d222e;
    overflow-x: hidden;
}

div#step__confirm_temp {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 14px;
    left: 230px;

    opacity: 0;
}

.ticket_legend_element {
    display: inline-block;

    width: 150px;
}

.legend_i {
    display: inline-block;

    width: 14px;
    height: 14px;
    margin: 7px 8px 0 0;

    vertical-align: top;

    border-radius: 50%;
}

#step__confirm {
    position: absolute;
    z-index: 5;
    bottom: 0;
    top: 0;
    left: 0;
    width: 1140px !important;
    right: 0;
    height: 600px !important;
    background: transparent;
}

.step__confirm-inner {
    position: absolute;
    z-index: 5;
    bottom: 0;
    padding-top: 15px;
    width: 560px !important;
    right: 0;
    height: 530px !important;
    box-shadow: -5px -5px 35px #000;
    padding: 15px 30px;
    background-color: #1d222e;
}

.hide_wrap {
    position: absolute;
    z-index: 8;
    top: -55px;
    right: 0;
    bottom: 0;
    left: 200px;

    width: 100%;
    min-width: 970px;
    height: 100%;
}

div#step__user_contacts__buy,
div#step__user_contacts_reserve {
    position: absolute;
    top: 0;
    left: 15px;

    width: 210px !important;
}

/*style for 4 step*/
.choose-action__title {
    font-family: 'RobotoCondensed-Regular';
    font-size: 15px;
    font-weight: 300;

    margin-top: 80px;
    margin-bottom: 50px;

    color: #f2cc18;
}

.choose-action__rules {
    margin-top: 20px;
}

#step__choose-action {
    position: absolute;
    top: 0;

    width: 180px !important;
    margin: 0;
}

div#step__choose-action a {
    overflow: hidden;

    width: 100%;

    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.choose-action__rules-confirm {
    text-align: center;

    color: #bfbfbf;
}

.choose-action__rules-confirm span {
    font-weight: 700;

    color: #f2cc18;
}

.choose-action__rules-confirm span + span {
    color: #57cb12;
}

.choose-action__rules-confirm a {
    text-decoration: none;

    color: #bfbfbf;
    border-bottom: 1px dashed;
}

.choose-action__rules-confirm a:hover {
    border-bottom: 0 dashed;
}

.choose-action__buttons_reserve,
.choose-action__buttons_buy {
    margin-bottom: 30px;

    text-align: center;
}

.choose-action__rules {
    margin-top: 20px;
}

/*style for reservation step*/

.phone-number,
.phone-code,
.user_contacts {
    font-family: 'Roboto-Regular';
    font-size: 14px;
    font-weight: 300;

    margin: 10px auto 0;

    text-align: left;

    color: #bfbfbf;
}

#step__confirm-phone label span {
    font-size: 20px;

    margin-left: 5px;

    color: #e0001a;
}

.phone-number .text-left {
    margin-top: 30px;
    margin-bottom: 65px;
}

.phone-number a,
.phone-code a,
.user_contacts a {
    width: 100%;
    min-width: 110px;
}

.user_contacts {
    display: inline-block;
}

.user_contacts a {
    margin-bottom: 10px;
}

.phone-number label,
.phone-code label,
.user_contacts label {
    font-family: 'Roboto-Light';
    font-size: 15px;
    font-weight: 300;

    margin-top: 0;

    color: #fff;
}

#form__user_contacts_buy > div,
#form__user_contacts_reserve > div {
    margin-top: 70px;
}

.confirm-phone__cancel-back,
.subscribe {
    margin-top: 10px;

    text-align: left;
}

.subscribe {
    font-family: 'RobotoCondensed-Light';
    font-size: 12px;
    font-weight: 300;

    white-space: nowrap;

    opacity: .5;
    color: #a7aab3;
}

.subscribe label {
    font-family: 'RobotoCondensed-Light';
    font-size: 12px;
    font-weight: 300;

    position: relative;
    top: 2px;

    vertical-align: middle;

    opacity: .5;
    color: #a7aab3;
}

.buy_info {
    position: absolute;
    top: 285px;
    left: 995px;

    width: 170px;

    text-align: left;
    z-index: 999;
}

.subscribe input {
    display: inline-block !important;

    width: auto !important;
}

#user_contacts_reserve__delivery__wrapper {
    position: absolute;
    z-index: 9;
    top: 45px;
    left: 260px;

    width: 700px;
    padding: 15px;

    text-align: left;

    background: #1d222e;
    box-shadow: 0 0 9px #fff;
}

.close-roll-link {
    position: absolute;
    right: 14px;
}

#step__reserved_success {
    position: absolute;
    z-index: 12;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
    padding: 0 30px;
}

div#step__pay_confirm {
    position: absolute;
    z-index: 13;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
    padding: 0 30px;
}

#form__user_contacts_reserve__comment {
    font-family: 'Roboto-Light';

    width: 670px;
    max-width: 670px;
    height: 60px;
    max-height: 60px;
    padding: 5px;

    vertical-align: middle;

    opacity: .7;
    color: #a7aab3;
    border-radius: 4px;
    background: transparent;
}

#confirm-phone__interval {
    font-family: 'Roboto-Regular';

    position: absolute;
    top: 127px;

    padding-top: 10px;
    padding-bottom: 10px;

    text-align: left;

    color: #bfbfbf;
}

div#confirm-phone__interval span {
    color: green;
}

.align-center {
    text-align: center;
}

.event_header {
    font-family: 'Roboto-Regular';

    position: relative;

    width: 100%;
    height: 134px;
    padding-top: 20px;
    padding-left: 35px;

    color: #fff;
    background-color: #282e3d;
}

.event_header span {
    display: inline-block;

    vertical-align: middle;
}

.event_header > span {
    font-family: 'RobotoCondensed-Regular';
    font-size: 24px;
    font-weight: 400;

    text-transform: uppercase;

    color: #fff;
}

.event_header div {
    font-family: 'RobotoCondensed-Regular';
    font-size: 16px;
    font-weight: 400;

    display: block;

    padding-top: 10px;

    vertical-align: middle;

    color: #fff;
}

.choosen-places {
    font-family: 'RobotoCondensed-Regular';
    font-size: 15px;
    font-weight: 300;

    margin-bottom: 15px;

    color: #f2cc18;
}

thead td.media-middle.text-center {
    font-family: 'RobotoCondensed-light';
    font-size: 15px;
    font-weight: 300;

    padding-top: 14px;
    padding-bottom: 14px;

    text-align: center;
    vertical-align: middle;
    letter-spacing: 1.4px;
    text-transform: uppercase;

    color: #fff;
}

td.media-middle {
    font-family: 'RobotoCondensed-light';
    font-size: 15px;
    font-weight: 300;

    text-align: center;
    vertical-align: middle;

    color: #fff;
}

tbody tr td.media-middle:first-child {
    font-size: 13px;
}

.step__confirm-inner .btn-block {
    right: 35px;
}

.step__confirm-inner .btn-group {
    margin-left: 20px;
}

button[disabled], html input[disabled] {
    cursor: not-allowed;
    opacity: 0.3 !important;
}

.btn-danger {
    font-family: RobotoCondensed-Regular;
    font-size: 18px;
    font-weight: 400;

    padding: 8px 50px;

    text-transform: uppercase;

    color: #E2394C;
    border: none;
    border: none;
    border-radius: 0;
    background-color: transparent;
    border: 2px solid #E2394C !important;
    padding: 6px !important;
}

.btn-danger:hover {
    font-family: RobotoCondensed-Regular;
    font-size: 18px;
    font-weight: 400;

    padding: 8px 50px;

    text-transform: uppercase;

    border: none;
    border: none;
    border-radius: 0;
    background-color: #E2394C;
    border: 2px solid #E2394C;
    padding: 6px !important;
}

#ticket-controls .btn-warning {
    font-family: RobotoCondensed-Regular;

    width: 32px;
    min-width: 32px;
    height: 32px;
    padding: 0;

    text-transform: uppercase;

    color: #000 !important;
    border: none;
    border-radius: 50%;
    background-color: #a7aab3;
}

#ticket-controls .btn-warning:hover {
    border-color: #f3cd00;
    background-color: #ec971f;
    background-color: #f3cd00;
}

.btn-warning {
    font-family: RobotoCondensed-Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;

    width: 32px;
    height: 32px;
    padding: 0;

    text-transform: uppercase;

    color: #000 !important;
    border: none;
    border-radius: 50%;
    background-color: #a7aab3;
}

.btn-warning:hover {
    border-color: #f3cd00;
    background-color: #ec971f;
    background-color: #f3cd00;
}

.btn-success {
    font-family: 'RobotoCondensed-Regular';
    font-size: 18px;
    font-weight: 400;

    min-width: 50px;
    padding: 8px 0;

    text-transform: uppercase;

    color: #000 !important;
    border: none;
    border-radius: 0;
    background-color: #f3cd00;
}

.btn {
    font-family: 'RobotoCondensed-Regular';

    min-width: 50px;
    font-size: 18px;
    padding: 8px 12px;

    text-transform: uppercase;

    border-radius: 0;
    border: 0px solid transparent;
}

#error_message__container button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border: 2px solid #f3cd00;
    margin-left: 0;
}

#error_message__container button.btn.btn-error {
    display: block;
    width: 100%;
    margin-left: 0;
    background: transparent;
    border: 2px solid #e5e5e5;
}

#error_message__container .modal-body {
    text-align: center;
}

#error_message__container button.btn.btn-error:hover {
    color: #fff;
    background: #e5e5e5;
}

#error_message__container button.close {
    display: inline-block;
    margin: 0 auto;
    border: none;
    float: none;
    background: url(/pics/buy-tickets/close-icon.png) no-repeat;
    width: 43px;
    height: 43px;
}

#error_message__container .modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
}

i.icon-remove {
    display: block;

    width: 18px;
    height: 18px;
    margin: 0 auto;

    transform: scale(.8);

    background: url(/pics/buy-tickets/btn-close.png) no-repeat;
}

i.icon-remove:hover {
    opacity: 0.6;
}

.btn-block {
    position: absolute;
    z-index: 3;
    right: 0;
    bottom: 70px;

    display: inline-block;

    width: auto;

    text-align: center;
}

.btn-block a {
    display: block;

    width: 100%;
    min-width: 170px;
}

.btn-success:hover {
    color: #fff;
    border-color: rgb(199, 170, 11) !important;
    background-color: rgb(199, 170, 11) !important;
}

.btn-warning.btn-lg,
.btn-success.btn-lg {
    font-size: 18px;
}

.warning {
    color: #f2cc18;
}

#reserved_success__table tr td:first-child {
    padding-left: 0;
}

.insurance-info,
.gift-info{
    margin: 0 0 0 20px;
    width: 180px;
    display: inline-block;
    position: relative;
}

.spoiler-head {

    font-size: 14px;
    color: #e32e58;
    letter-spacing: 0;
    text-align: left;
    vertical-align: top;
    margin-right: 10px;
    border-bottom: 1px dashed #e32e58;
    position: relative;
    cursor: pointer;
}

.spoiler-head:hover {
    border: none;

}

.spoiler-head.active-head {
    color: #e32e58;
    border-bottom: 1px dashed #e32e58;
}

.spoiler-body {
    display: none;
    font-size: 14px;
    color: #e32e58;
    letter-spacing: 0;
    line-height: 18px;
    text-align: left;
    margin-top: 2px;
    position: absolute;
    top: 18px;
    left: -10px;
    box-shadow: -5px -5px 35px #000;
    background-color: #1d222e;
    padding: 10px;
    width: 205px;
    z-index: 20;
}

.spoiler-body a {
    color: #e32e58;
    text-decoration: none;
}

.spoiler-body a:hover {

    text-decoration: underline;
}

.insurance p:last-of-type {
    margin-top: -10px;
}

.insurance-price {

}

.local-insurance {
    visibility: hidden;
    font: 15px 'RobotoCondensed-light', Arial, sans-serif;
    color: #fff;
}

label#insurance-sum {
    margin-top: 0 !important;
}

label#insurance-sum span {
    color: #bfbfbf;
}

input[type=checkbox]#insurance-acceptance {
    height: 15px;
    width: 15px;

    position: relative;
    top: 3px;
}

.table-tickets tr:last-of-type{
    font: 15px 'RobotoCondensed-light', Arial, sans-serif;
}

/*gift*/
.gift-h{
    margin-bottom: 3px;
    font-family:RobotoCondensed-Regular;
}
.gift-i,
.b-table-tr-gifts td:first-of-type:before,
.pay_confirm__row-gift td:first-of-type:before{
    display: inline-block;
width: 18px;
height: 19px;
background-image: url(../pics/gift-i.png);
position: relative;
left: -1px;
margin-right: 2px;
bottom: -1px;
}
.gift-label{
    font-weight:normal;
}
.gift-holder{
    font-family:RobotoCondensed-Regular;
    font-weight:normal;
    color: inherit;
}
.gift-number{
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}
.gift-count{}
.gift-number input[type='number'] {
    -moz-appearance:textfield;
    height:19px;
    width:19px;
    background-color: #1d222e;
    text-align: center;
    line-height: 19px;
    border: none;
    padding: 0;
    position: relative;
    top: -2px;
}

.gift-number input::-webkit-outer-spin-button,
.gift-number input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.gift-minus,
.gift-plus{
    height:19px;
    width:19px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    display: inline-block;
    text-align: center;
    line-height: 19px;
    font-size: 22px;
    color: #1d222e;
    cursor: pointer;
}
.gift-minus{
    background-color: #595959;
}
.gift-plus{

    background-color: #f3cd00;
}
.b-table-tr-gifts td{
    color: #fff;
    font:14px 'RobotoCondensed-light';
}
.b-table-tr-gifts td:first-of-type,
.pay_confirm__row-gift td:first-of-type{

    position: relative;
    padding-left:25px;
}
.b-table-tr-gifts td:first-of-type:before,
.pay_confirm__row-gift td:first-of-type:before{
    content: '';
    position: absolute;
    bottom: 11px;
    left:5px;
}

.insurance p,
.gift p,
.spoiler-body p{
    font-family:'RobotoCondensed-light';
}
.insurance label,
.gift label,
.spoiler-body h2{
    font-family:RobotoCondensed-Regular;
    font-weight:normal;
}

.spoiler-body h2{
    color: #e32e58;
    font-size:14px;
}

.gift-info .spoiler-body{
    color: #fff;
    width: 510px;
    left: -310px;
    padding: 20px;
}
.gift-info .spoiler-body p{
    margin:15px 0;
}