/* --------------------
		tickets-step 
-----------------------*/

.tickets-step{
	background:#1d222e;
}
.tickets-step .event_block{
    padding-bottom: 0;
	padding-top:5px;
    position: relative;
    background: none;
}
.tickets-step .event_block .info{
	margin-bottom:0;
}
.tickets-step .event_block .info .category, 
.tickets-step .event_block .info .live,
.event_block .info .age{
	position:absolute;
	right:6px;
	top:17px;
}
.tickets-step .event_block .info .live{
	right: 50px;
}
.tickets-step .event_block .info .category{
	right: 170px;
    line-height: 28px;
}
.buy_tickets-wrap{
	
}

/*buy_tickets-head*/
.buy_tickets-head{
	position:relative;
	font:12px/1.5 'Roboto-Light', Arial, Helvetica, sans-serif;
	border-bottom:1px solid rgba(255,255,255,0.5);
}
.scale_control{
    margin: 30px 0 0 0;
}
.scale_control>span{
	    display: inline-block;
    position: relative;
    top: -4px;
    left: 2px;
    letter-spacing: 0.07em;
}
.scale_control-button{
	font-size:29px;
	color:#fff;
	text-align:center;
	width:28px;
	height:28px;
	line-height:28px;
	background-color:#32353c;
	border-radius:50%;
	border:1px solid #bfbfbf;
	padding:0;
	font:29px/20px Arial, sans-serif;
	cursor:pointer;
	display:inline-block;
	margin: 6px 0 0 12px;
}

.scale_control-button.plus{
	
}
.scale_control-button.minus{
	line-height:10px;
	margin-left:5px;
	height: 28px;
    padding-bottom: 6px;
    position: relative;
    top: -3px;
}

.legend{
	
}
.legend_table-prices{
	width:700px;
	margin:17px 0 10px 130px;
}
.legend_table-prices tr:first-of-type{
	border-bottom:1px solid rgba(255,255,255,0.1)
}
.legend_table-prices tr.best_seats td{
	padding-top:7px;
	padding-left:4px;
}
.legend_table-prices tr td{
	width:20%;
	line-height:16px;
	padding-bottom:16px;
}

.legend_table-prices strong,
.legend_table-prices rouble{
	font:16px/16px 'Roboto-Medium', Arial, Helvetica, sans-serif;
	
}

.legend_table-prices strong{
    position: relative;
    top: 1px;
	margin: 0 5px 0 5px;
}
.legend_table-prices .rouble{
	font-size:15px;
	top:1px;
}
.legend_table-prices .rouble:before{
	top: 0.23em;
    left: -15%;
}
.legend_i,
.buy_tickets-help .help-ticket_card .legend_i{
	display:inline-block;
	width:8px;
	height:8px;
	border-radius:50%;
	margin: 0 10px 0px 3px;
}
.legend_i.color-1{
	background-color:#4fbbbd;
}
.legend_i.color-2{
	background-color:#85c048;
}
.legend_i.color-3{
	background-color:#e55c90;
}
.legend_i.color-4{
	background-color:#f3a83d;
}
.best_seats .legend_i,
.legend_block .legend_i,
.buy_tickets-help .help_best-seats .legend_i{
	background:url('/pics/buy-tickets/ticket-sprite.png') no-repeat;
	border-radius:0;
}
.best_seats .legend_i.color-1,
.best_seats .legend_i.color-2,
.best_seats .legend_i.color-3,
.best_seats .legend_i.color-4,
.legend_block .legend_i.disabled_people-i,
.legend_block .legend_i.best_seats-i,
.buy_tickets-help .legend_i.best_seats-star3{
	width:15px;
	height:15px;
    width: 15px;
    height: 15px;
    margin: 0px 8px 0 8px;
    top: 2px;
    position: relative;
}
.buy_tickets-help .help-ticket_card .legend_i{
	margin-right:5px;
}
.buy_tickets-help .help_best-seats .legend_i{
	margin-left: 0;
    margin-right: 2px;
    top: 1px;
}
.best_seats .legend_i.color-1{
	background-position:0 0;
}
.best_seats .legend_i.color-2{
	background-position:0 -24px;
}
.best_seats .legend_i.color-3,
.buy_tickets-help .legend_i.best_seats-star3{
	background-position:0 -48px;
}
.best_seats .legend_i.color-4{
	background-position:0 -73px;
}
.legend_block{
	position:absolute;
	left:0;
	top:100%;
	z-index:1;
}

.legend_block-list{ 
	list-style-type:none;
	padding:0;
	margin:0;
	padding-top:21px;
}
.legend_block-list li{
	line-height:30px;
}
.legend_block .legend_i.disabled_people-i{
	background-position:0 -97px;
	margin:0 10px 0 0;
}
.legend_block .legend_i.color-5{
	background-color:#818181;
	width:5px;
	height:5px;
	border-radius:50%;
	margin:0 17px 0 4px;
}
.legend_block .legend_i.best_seats-i{
	background-position:0 -120px;
	margin:0 10px 0 0;
}

/*//buy_tickets-head*/

/*buy_tickets-body*/

.buy_tickets-body{
	width:100%;
	height:690px;
	background:url('/pics/buy-tickets/zal-back.jpg') center 0 no-repeat;
	margin-top:24px;
	position:relative;
} 

.buy_tickets-help{
	    position: absolute;
    background-color: #fff;
    color: #282e3c;
    top: 200px;
    left: 200px;
	border-radius:3px;
	padding:20px 13px;
}
.buy_tickets-help:after{
    position: absolute;
    content: '';
    display: block;
    border: 15px solid rgba(0,0,0,0);
    border-left: 15px solid #fff;
    border-top: 0;
    top: 100%;
    left: 16px;
}
.help-ticket_card{
	border-bottom:1px solid #d6d8db;
	margin-bottom:22px;
}
.help-ticket_card tr:first-of-type td:first-of-type{
	font:22px/22px 'Roboto-Light', Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	text-align:center;
}
.help-ticket_card tr td:first-of-type{
	font:16px/1.5 'Roboto-Medium', Arial, Helvetica, sans-serif;
}
.help-ticket_card tr:nth-child(2)td{
	padding:8px 0;
}
.help-ticket_card tr td{
	font:12px/1.5 'Roboto-Light', Arial, Helvetica, sans-serif;
}

.help_best-seats{
	
}
.help_best-seats tr:first-of-type td:first-of-type{
	font:16px/16px 'Roboto-Light', Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	text-align:center;
	padding:0;
}
.help_best-seats tr td{
	font:12px/16px 'Roboto-Light', Arial, Helvetica, sans-serif;
	    padding: 16px 0 0;
}
.help_best-seats tr td:first-of-type{
	font:16px/16px 'Roboto-Medium', Arial, Helvetica, sans-serif;
	padding-right:5px;
}
.help_best-seats .legend_i{
	margin-right:5px;
}
/*//buy_tickets-body*/


/*buy_tickets-foot*/

.buy_tickets-foot{
	background-color:#FFF;
	height:86px;
	color:#1d222e;
	position:relative;
}

.info_choice,
.tickets_set-scroll{
	font:16px/1.5 'Roboto-Medium', Arial, Helvetica, sans-serif;
}

.ticket_card{
	position: absolute;
    top: -22px;
    background-color: #fff;
    left: -25px;
    border-radius: 2px;
    border: 1px solid #dedede;
    padding: 14px 25px;
}
.ticket_card-seat{
	
}
.ticket_card-price{
	margin:0;
}
.ticket_card-price .rouble{
	margin-left:2px;
}
.ticket_card-price .rouble:before{
	top:0.23em;
}
.ticket_card-description{
	font:12px/1.5 'Roboto-Light', Arial, Helvetica, sans-serif;
	margin:7px 0;
}


.info_total{
	text-align:right;
	margin-top:12px;
}
.total_price{
	letter-spacing: -0.01em;
    display: inline-block;
    margin-right: 7px;
}
.total_price .rouble:before{
	    top: 0.1em;
    left: -15%;
}
.total_price,
.total_price+.rouble{
	font-size:32px;
}

.total_commission{
	font:12px/1.5 'Roboto-Light', Arial, Helvetica, sans-serif;
	    margin-top: 4px;
    letter-spacing: 0.03em;
    text-align: right;
}

.buy_tickets-link{
	font: 14px/14px 'RobotoCondensed-Regular', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    background: #e0001a;
        margin: 13px 6px 13px 20px;
    letter-spacing: 0.03em;
    padding: 9px 18px;
    display: inline-block;
	opacity:0.8;
}
.buy_tickets-link:hover{
	text-decoration:none;
	opacity: 1;
	-webkit-transition: opacity ease-out 0.2s;
	   -moz-transition: opacity ease-out 0.2s;
		 -o-transition: opacity ease-out 0.2s;
			transition: opacity ease-out 0.2s;
}
.mfp-auto-cursor .mfp-content{
	height:100%;
}
/*//buy_tickets-foot*/


/*steps popup*/

/* at start */
.my-mfp-slide-bottom .tickets_set {
	opacity: 0;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;

	-webkit-transform: translateY(200px);
	-moz-transform: translateY(200px);
	-ms-transform: translateY(200px);
	-o-transform: translateY(200px);
	transform: translateY(200px);

}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .tickets_set {
	opacity: 1;
	-webkit-transform: translateY(0); 
	-moz-transform: translateY(0); 
	-ms-transform: translateY(0); 
	-o-transform: translateY(0); 
	transform: translateY(0); 
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .tickets_set {
	opacity: 0;
	-webkit-transform: translateY(200px); 
	-moz-transform: translateY(200px); 
	-ms-transform: translateY(200px); 
	-o-transform: translateY(200px); 
	transform: translateY(200px); 
}

.tickets_set .mfp-close.tickets_set-close{
    top: 6px;
    bottom: 555px;
    right: 16px;
    text-indent: -2000px;
}
.tickets_set .mfp-close.tickets_set-back{
    color: #282e3c;
    text-indent: 0;
    bottom: 10px;
    top: initial;
    left: 35px;
    font-size: 14px;
    background:url('/pics/buy-tickets/ticket-sprite.png') no-repeat 0 -155px;
    padding-left: 0px;
	text-decoration:underline;
	opacity:1;
}
.tickets_set .mfp-close.tickets_set-back:hover{
	text-decoration:none;
}
.tickets_set-wrap{
	width:975px;
	margin:0 auto;
	position:relative;
	height:100%;
}


/*tickets_set*/
.tickets_set{ 
    background-color: #FFF;
    color: #282e3c;
    width: 404px;
    position: absolute;
    height: 575px;
    padding: 35px 20px 10px 40px;
    right: -105px;
    border-radius: 4px 4px 0 0; 
    bottom: 0;

}

.tickets_set-label{	
	font:22px/1 'Roboto-Medium', Arial, Helvetica, sans-serif;
	text-transform:uppercase;
}
.tickets_set-registration .tickets_set-label{
	position: relative;
    top: -19px;
    letter-spacing: -0.015em;
}
.tickets_set-step_label{
color: #e0001a;
    font: 12px/18px 'Roboto-Light', Arial, Helvetica, sans-serif;
    text-align: center;
    display: inline-block;
    margin-left: 20px;
	margin-bottom:12px;
}

.tickets_set-step_label strong{
	text-transform:uppercase;
	font:22px/1 'Roboto-Medium', Arial, Helvetica, sans-serif;
}

.tickets_set-title{
    text-transform: uppercase;
    color: #cf041c;
    font: 26px/1.3 'Roboto-Light', Arial, Helvetica, sans-serif;
    margin: 29px 0 10px;   
}
.tickets_set-registration .tickets_set-title{
	border-top: 1px solid #d6d8db;
	margin: 25px 0 14px;    
    padding-top: 23px;
}

.tickets_set-date,
.tickets_set-info_total-registration{	
	text-transform:uppercase;
	font:20px/1.5 'Roboto-Light', Arial, Helvetica, sans-serif;
}

.tickets_set-registration .tickets_set-date{
	border-bottom: 1px solid #d6d8db; 
	padding-bottom: 35px;
}

.tickets_set-date .day{
	color: #cf041c;
    margin: 0 6px;
}

/* Tiny Scrollbar */
.tickets_set-scroll { 
    width: 404px;
    margin: 20px 0 0;
	color: #3a3a3a; 
	padding-top:10px;
	border: 1px solid #d6d8db;
	border-width:1px 0 1px 0;
	display:block;
}
.tickets_set-scroll .viewport { 
	width: 385px; 
	height: 266px; 
	overflow: hidden; 
	position: relative;
	display:block;
 }
.tickets_set-scroll .overview { 
	list-style: none; 
	position: absolute; 
	left: 0;
	top: 0;
	padding: 0;
	margin: 0;
	width:100%;
 }
.tickets_set-scroll .scrollbar{ 
	background:#fff;
	position: relative; 
	background-position: 0 0;
	float: right; 
	width: 15px;
	left:8px;
	    overflow: hidden;
 }
.tickets_set-scroll .track { 
    background: #afafaf;
    height: 100%;
    width: 1px;
    position: relative;
    padding: 0;
	left: 2px;
}
 
.tickets_set-scroll .thumb { 
background: #ff0018;
    height: 40px !important;
    width: 5px;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: -2px;
}
.tickets_set-scroll .thumb .end {
	background: #f3a83d; 
	overflow: hidden; 
	height: 5px; 
	width: 25px;
	display:none;
}
.tickets_set-scroll .disable { display: none; }

.tickets_set-ticket_card{
	position: relative;
    top: initial;
    left: initial;
    border-bottom: 1px solid #d6d8db;
	height:75px;
	color:#000;
	width:100%;
}

.tickets_set-ticket_card>p{
	margin:0;	
}
.tickets_set-ticket_card .ticket_card-seat{
	display:inline-block;
	margin-top:15px;
}

.tickets_set-ticket_card .ticket_card-price{
	margin: 15px 8px 0 0;
}
/* //Tiny Scrollbar */

.tickets_set-quantity{}

.tickets_set-quantity strong{
	font-size:30px;
}

.tickets_set-info_total>.fl_r{
	margin-right: 22px;
}

.tickets_set-buy_tickets-link{
	float:right;
	margin: 4px 26px 0 0;
}


/*tickets_set steps*/

.tickets_set-registration{
	height:590px;
}

.tickets_set-stopwatch{
	font: 35px/31px 'Roboto-Medium', Arial, Helvetica, sans-serif;
	color:#fff;
	position: absolute;
    top: -55px;
    left: 162px;
}

.tickets_set-stopwatch span{
	display:inline-block;
	width:30px;
	height:31px;
	background:transparent url('/pics/buy-tickets/stopwatch.png');
    margin-right: 15px;
	position: relative;
    top: 3px;
}

.tickets_set>p{
	color:#282e3c;
	font-size:16px;
	line-height:24px;
	margin-bottom:1em;
}

.warning{}

.warning strong{
	color:#e0001a;	
	font: 16px/16px 'Roboto-Medium', Arial, Helvetica, sans-serif;
}

.warning a{
	text-decoration:underline;
	color:#282e3c;
}

.warning a:hover{
	text-decoration:none;
}

.tickets_set-info_total-registration{
	margin-top:25px;
}

.tickets_set_form{
	color:#282e3c;
	margin:35px 0 26px;
	width: 380px;
}

.tickets_set_form-label{
	display:block;
	margin-top:14px;
	font:16px/1.5 'Roboto-Regular', Arial, Helvetica, sans-serif;
}

.tickets_set_form-label:first-of-type{
	margin-top:0;
}

.tickets_set_form-label .required{
	    color: #e0001a;
    display: inline-block;
    margin-left: 7px;
}

.tickets_set_form-input{
    display: block;
    font: 16px/2 'Roboto-Light', Arial, Helvetica, sans-serif;
    border: 1px solid #e6e8e9;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 4%;
    margin-top: 7px;
}

.tickets_set_form-input:focus{
	outline:none;
}

.tickets_set_form p{
    font: 12px/1.5 'Roboto-Light', Arial, Helvetica, sans-serif;
    margin: 5px 0 0 5px;
}

.tickets_set_form-activation,
.tickets_set_form-book{
	margin: 20px 0 0px;
    padding: 20px 0 5px;
    border-top: 1px solid #d6d8db;
}

.tickets_set_form-book{
	margin-top: 25px;
    width: 335px;
    padding-right: 45px;
}

.tickets_set_form-book label:last-of-type{
	margin-top:21px;
}

.tickets_set_form-activation fieldset{
	float: left;
    width: 190px;
    margin-right: 21px;
}

.tickets_set_form-input_sms{
	margin: 8px 5px 0 3px; 
    height: 12px;
    width: 12px;
}

.tickets_set_form-label_sms{
	color:#93969d;
	font:12px/12px 'Roboto-Light', Arial, Helvetica, sans-serif; 
	display:inline;
}

.tickets_set_form-input_code{
	width:163px;
	display: inline-block;
}

.tickets_set_agreement{
	color:#282e3c;
	width: 60%;
    margin-left: 5px;
}

.tickets_set_agreement a{
	color:#e0001a;
}

.tickets_set-registration .tickets_set-buy_tickets-link,
.tickets_set-registration .tickets_set-book_tickets-link,
.tickets_set-registration .tickets_set-next_tickets-link{
	position: absolute;
    bottom: 56px;
	left:40px;
	margin:0;
}
.tickets_set-registration .tickets_set-book_tickets-link{
	right:20px;
	left:initial;
}

.tickets_set-registration .tickets_set-next_tickets-link{
	right: 45px;
    padding: 9px 29px;
	left:initial;
}
.tickets_set.tickets_set-registration .mfp-close.tickets_set-back{
    width: 90px;
}

.tickets_set-sms_tickets-link{
	margin:13px 0 0;
}

.tickets_set-registration_step1{}

.tickets_set-registration_step2{}

.tickets_set-registration_step3{}

.tickets_set-registration_step4{}

.tickets_set-registration_step2 .tickets_set-label,
.tickets_set-registration_step3 .tickets_set-label{
	    top: -36px;
}

.tickets_set-registration_step2 .tickets_set-step_label,
.tickets_set-registration_step3 .tickets_set-step_label{
	margin-bottom:0;
}

