{% extends 'ticket.twig' %}

{% set ticket_css = "/css/print_ticket.css" %}
{% set logo="/pics/print_ticket/crocus/logo.png" %}
{% set hall_name = 'Крокус Сити Холл' %}
{% set of_hall_name = 'Крокус Сити Холла' %}
{% set site = 'www.crocus-hall.ru' %}


{% block address_hall %}
    <p>м. Мякинино, 64-66 км МКАД, концертный зал "Крокус Сити Холл"</p>
{% endblock %}

{% block barcode %}
    <img src="/ticket/code/{{ data.ticket_id }}?angle=90&w=300&h=100" id="barcode" alt="barcode">
{% endblock %}

{% block banner %}
    <div class="banner">
        <img src="/pics/print_ticket/crocus/qr.png" alt="{{ site }}" class="noborder">
    </div>
    <div class="banner">
        <img src="/pics/print_ticket/instr-banner.png" alt="banner"/>
    </div>
    <div class="banner" style="margin-left:10px; width: 200px;">ЭЛЕКТРОННЫЙ БИЛЕТ НЕОБХОДИМО РАСПЕЧАТАТЬ НА ЛИСТЕ А4.
        ДОПУСК ЗРИТЕЛЕЙ ПРОИЗВОДИТСЯ ТОЛЬКО ПО РАСПЕЧАТАННЫМ ЭЛЕКТРОННЫМ БИЛЕТАМ.
    </div>
{% endblock %}