{% extends 'ticket.twig' %}

{% set ticket_css = "/css/print_ticket_vegas.css" %}
{% set logo="/pics/print_ticket/vegas/logo.png" %}
{% set hall_name = 'Вегас Сити Холл' %}
{% set of_hall_name = 'Вегас Сити Холла' %}
{% set site = 'www.vegas-hall.ru' %}

{% block address_hall %}
    <p>м. Мякинино, 66 км МКАД, концертный зал "Vegas City Hall"</p>
{% endblock %}

{% block barcode %}
    <div class="barcode-wrapper">
        <img src="/ticket/code/{{ data.ticket_id }}?angle=90&w=200&h=100" id="barcode" alt="barcode">
        {#<span class="barcode-text">{{ data.ticket_id }}</span>#}
    </div>
{% endblock %}

{% block banner %}
    <div class="banner noborder">
        <img src="/pics/print_ticket/vegas/qr.png" alt="{{ site }}" class="noborder">
    </div>
    <div class="banner">
        <img src="/pics/print_ticket/instr-banner.png" alt="banner"/>
    </div>
{% endblock %}