<h2>ПРАВИЛА ОНЛАЙН ОПЛАТЫ БИЛЕТОВ и ОБРАЩЕНИЯ С ЭЛЕКТРОННЫМ БИЛЕТОМ</h2>
<div><br/></div>
<div>Акционерное общество «КРОКУС ИНТЕРНЭШНЛ» «CROCUS INTERNATIONAL» (далее &ndash; «Крокус Сити Холл») предоставляет
    Вам услугу по оплате на настоящем сайте - <a href="/">www.crocus-hall.ru</a> билетов на мероприятия, проводимые в
    Концертном зале «Крокус Сити Холл», с использованием платежных карт в порядке и на условиях, предусмотренных
    настоящими Правилами.
</div>
<div><br/></div>
<div>ВНИМАНИЕ! Настоящие Правила регулируют только онлайн оплату билетов посредством платежных карт и не
    распространяются на оплату в кассах концертного зала «Крокус Сити Холл».
</div>
<div><br/></div>
<div>ВНИМАНИЕ! При онлайн оплате билетов просим принимать во внимание знак информационной продукции соответствующего
    мероприятия, а также необходимость соблюдения следующих требований ст. 4 Закона Московской области от 04.12.2009 г.
    № 148/2009 &ndash; ОЗ «О мерах по предупреждению причинения вреда здоровью и развитию несовершеннолетних в
    Московской области»:
</div>
<div>Не допускается нахождение несовершеннолетних в возрасте до 16 лет в ночное время с 22 часов до 6 часов, а в период
    с 1 мая по 31 августа в ночное время с 23 часов до 6 часов, и несовершеннолетних в возрасте от 16 до 18 лет в ночное
    время с 23 часов до 6 часов без сопровождения родителей (лиц их заменяющих), а также лиц, осуществляющих мероприятия
    с участием несовершеннолетних, в общественных местах, в том числе на объектах (на территории, в помещениях)
    юридических лиц, которые предназначены для развлечений, досуга, где в установленном законом порядке предусмотрена
    розничная продажа алкогольной продукции, пива и напитков, изготавливаемых на его основе.
</div>
<div><br/></div>
<div>ВНИМАНИЕ! При онлайн оплате билетов просим принять во внимание, что стоимость билета подлежит возврату в случае
    отмены, замены или переноса мероприятия.
</div>
<div><br/></div>
<div>1. ИНСТРУКЦИЯ ПО ОНЛАЙН ОПЛАТЕ БИЛЕТОВ</div>
<div>Для оформления покупки на странице выбранного Вами мероприятия нажмите «Купить билеты». Далее на схеме концертного
    зала «Крокус Сити Холл» выберите необходимые Вам места (максимальное количество - 6 шт.) и нажмите «Продолжить».
</div>
<div>ВНИМАНИЕ! Вам следует пройти все «Шаги» в течение 15 минут, в этот период выбранные Вами билеты резервируются и
    перестают быть доступными для других лиц.
</div>
<div><strong><br/></strong></div>
<div><strong>Шаг 1:</strong></div>
<div>Вам необходимо выбрать вид услуги &ndash; «Купить».</div>
<div><strong><br/></strong></div>
<div><strong>Шаг 2:</strong></div>
<div>Вам необходимо последовательно совершить следующие действия:</div>
<div>1) подтвердите выбранные Вами места и нажмите «Продолжить».</div>
<div>2) введите номер мобильного телефона (с кодом страны) и нажмите «Получить код» для получения бесплатного смс с
    кодом подтверждения. 
</div>
<div>3) введите полученный код подтверждения и нажмите «Продолжить».</div>
<div>Кодом подтверждения Вы можете воспользоваться единожды и только в рамках покупки ранее выбранных Вами мест. </div>
<div>Для получения бесплатной смс-рассылки об афише концертного зала «Крокус Сити Холл», специальных акциях и
    т.п. &ndash; проставьте соответствующую галочку.
</div>
<div><br/></div>
<div><strong>Шаг 3:</strong></div>
<div>Вам необходимо последовательно совершить следующие действия:</div>
<div>1) заполнить поля «Имя», «Фамилия» и «Адрес e-mail» и нажать «Продолжить». </div>
<div>ВНИМАНИЕ! Информация, указанная в полях для обязательного заполнения, должна быть достоверной.</div>
<div>2) подтвердить, что Вы согласны с условиями пользования системы (настоящие Правила). Без подтверждения согласия с
    настоящими Правилами онлайн оплата билетов не может быть произведена.
</div>
<div>3) нажать «Перейти к оплате».</div>
<div><br/></div>
<div>ВНИМАНИЕ! Оплата стоимости билета производится в Рублях РФ. Если валюта платежной карты иная, то стоимость билета
    конвертируется в валюту банковского счета клиента по курсу банка-эмитента на дату осуществления платежа.
</div>
<div>Зарубежные банки могут взимать дополнительные суммы в качестве комиссий за операцию онлайн оплаты. Для уточнения
    условий оплаты свяжитесь со своим банком-эмитентом.
</div>
<div><br/></div>
<div>Оплата билетов может производиться с использованием платежных карт VISA, MasterCard или American Express.</div>
<div>За разъяснениями об особенностях оплаты по Вашей платежной карте в сети интернет, причинах отказа в оплате Вам
    необходимо в первую очередь обратиться в службу поддержки Вашего банка.
</div>
<div>Для совершения оплаты:</div>
<div>1) проверьте информацию о платеже, номер телефона и нажмите «Оплатить».</div>
<div>2) На странице авторизации введите номер карты, срок действия карты, имя и фамилию владельца карты, а также
    верификационный номер карты (CVV2 для VISA, CVC2 для MasterCard или Batch-код - 4 цифры для American Express).
    Вводить ПИН-код не требуется.
</div>
<div>Все необходимые данные имеются на самой карте.</div>
<div><br/></div>
<div>ВНИМАНИЕ! Ввод реквизитов платежной карты происходит в системе интернет-платежей Platron (ЗАО «Платрон», ОГРН
    1097746209, <a href="http://www.platron.ru/">www.platron.ru</a>, 8 (495) 983-32-79), куда Вы будете автоматически
    переадресованы с сайта <a href="/">www.crocus-hall.ru</a> после того, как нажмете «Перейти к оплате» на Шаге 3. 
</div>
<div>При этом обработка и хранение данных о платежной карте производится банком-эквайером - АО «Банк Русский Cтандарт»
    (ОГРН 1027739210630). 
</div>
<div>Передача данных платежной карты с сайта <a href="http://www.platron.ru/">www.platron.ru</a>производится в
    зашифрованном виде с соблюдением требований VISA International, MasterCard и American Express. Данные Вашей
    платежной карты не сохраняются на web-сервере ЗАО «Платрон». ЗАО «Платрон» получает код авторизации и маскированный
    пан карты исключительно в целях проведения указанной операции.
</div>
<div>Крокус Сити Холл не получает данные о платежной карте, не хранит и не обрабатывает их. </div>
<div><br/></div>
<div>3) Нажмите «Оплатить». Если реквизиты платежной карты введены правильно, то оплата билета произойдет успешно в
    течение нескольких секунд. В том случае если Ваша платежная карта поддерживает технологию 3DSecure, после ввода
    реквизитов платежной карты Вы будете дополнительно перенаправлены на сайт банка-эмитента платежной карты для
    подтверждения операции.
</div>
<div>При отрицательном результате авторизации операции Вы получите извещение о невозможности оплаты заказа с
    использованием данной платежной карты.
</div>
<div><br/></div>
<div><strong>Шаг 4:</strong></div>
<p>На Ваш e-mail отправлена ссылка, пройдя по которой, Вы получите доступ к вашему электронному билету, который
    необходимо распечатать и предъявить при входе. При необходимости Вы можете обменять электронный билет на бланк
    строгой отчетности «Билет» в любой кассе Крокус Сити Холла.</p>
<div>2. ТРЕБОВАНИЯ К ПЕЧАТИ ЭЛЕКТРОННОГО БИЛЕТА И ОБРАЩЕНИЮ С НИМ</div>
<div>Распечатайте электронный билет на чистом белом листе формата А4.</div>
<div>Билеты на электронном носителе (телефон, планшет и т.п.) не принимаются.</div>
<div>Электронный билет может быть распечатан как на цветном, так и на черно-белом принтере. Электронный билет может быть
    распечатан как на лазерном, так и на струйном принтере с условием, что качество печати будет не ниже 300 Dpi.
</div>
<div>Штрих код и QR код является гарантом уникальности электронного билета. Бланк строгой отчетности «Билет» может быть
    выдан только при условии, что штрих код считывается сканирующим устройством, и лист, на котором распечатан
    электронный билет, не смят, не поврежден и не испачкан. Электронный билет с исправлениями и помарками
    недействителен.
</div>
<p><strong><span style="color: rgb(255, 0, 0);">ВНИМАНИЕ! Вы несете все риски, связанные с копированием (посредством сканирования, фотографирования и т.п.) электронного билета, а также с приобретением распечатанного электронного билета у третьих лиц. Проход в концертный зал будет осуществлен первым, кто предъявил электронный билет, в связи с чем не копируйте, не сканируйте, не фотографируйте и не выкладывайте фото/скан Вашего электронного билета в сети интернет.</span></strong>
</p>
<div>
    <p>3. ПОРЯДОК ВОЗВРАТА ДЕНЕЖНЫХ СРЕДСТВ В СЛУЧАЕ ОТМЕНЫ, ЗАМЕНЫ ИЛИ ПЕРЕНОСА МЕРОПРИЯТИЯ</p>
    <p>В случае отмены, замены или переноса мероприятия ответственность за возврат денежных средств за билет несет
        организатор мероприятия, указанный на билете.</p></div>
<div>4. СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ</div>
<div>Принимая условия настоящих Правил, Вы подтверждаете свое согласие на обработку Крокус Сити Холлом Ваших
    персональных данных, включая сбор, запись, систематизацию, хранение, уточнение (обновление, изменение), извлечение,
    использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление,
    уничтожение персональных данных с целью оформления покупки билетов на мероприятие (оформления заказа), уведомления
    об отмене, замене или переносе мероприятия и порядке возврата денежных средств за билеты, возврата денежных средств
    при отмене, замене или переносе мероприятия, а в случае если Вы согласились на получение бесплатной смс рассылки - в
    информационных целях, в целях продвижения товаров, работ и услуг на рынке и т.п., в том числе на передачу
    соответствующей информации лицам, привлекаемым к исполнению указанных в настоящем абзаце действий.
</div>
<div>Настоящее согласие распространяется на следующие персональные данные: фамилия, имя, e-mail, номер мобильного
    телефона.
</div>
<div>Настоящее согласие дается на срок до отзыва настоящего согласия. </div>
<div>Вы вправе отозвать данное согласие на обработку своих персональных данных путем направления письменного уведомления
    на почтовый адрес Крокус Сити Холла: 143402, Российская Федерация, Московская обл., Красногорский р-н, г.
    Красногорск, ул. Международная, д. 20, а/я 457.
</div>
<div>В случае отзыва Вами согласия на обработку своих персональных данных Крокус Сити Холл обязан прекратить обработку
    персональных данных и уничтожить персональные данные в течение 3 рабочих дней с даты получения указанного отзыва.
</div>
<div><br/></div>
<div>Принимая условия настоящих Правил, Вы также подтверждаете свое согласие на обработку, включая сбор, запись,
    систематизацию, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение,
    предоставление, доступ), обезличивание, блокирование, удаление, уничтожение в целях проведения операции оплаты
    билетов с использованием платежных карт (а также возврата денежных средств на карту в случае отмены, замены или
    переноса мероприятия):
</div>
<div>- АО «Банк Русский Стандарт» - данных Вашей платежной карты;</div>
<p>- ЗАО «Платрон» - код авторизации и маскированный пан Вашей карты.</p>
</div>