<h2>ПРАВИЛА ОНЛАЙН БРОНИРОВАНИЯ БИЛЕТОВ</h2>
<p><br></p>
<p>Акционерное общество «КРОКУС ИНТЕРНЭШНЛ» «CROCUSINTERNATIONAL» (далее – «Крокус Сити Холл») предоставляет Вам услугу
    по онлайн бронированию на настоящем сайте -&nbsp;<a href="/" target="_blank">www.crocus-hall.ru</a>&nbsp;билетов на
    мероприятия, проводимые в Концертном зале «Крокус Сити Холл», в порядке и на условиях, предусмотренных настоящими
    Правилами.&nbsp;</p>
<p><br></p>
<p>ВНИМАНИЕ! Начав процедуру бронирования билетов, Вы в полном объеме принимаете условия настоящих Правил.&nbsp;</p>
<p><br></p>
<p>ВНИМАНИЕ! При бронировании билетов просим принимать во внимание знак информационной продукции мероприятия, а также
    необходимость соблюдения следующих требований ст. 4 Закона Московской области от 04.12.2009 г. № 148/2009 – ОЗ «О
    мерах по предупреждению причинения вреда здоровью и развитию несовершеннолетних в Московской области»:</p>
<p><br></p>
<p>Не допускается нахождение несовершеннолетних в возрасте до 16 лет в ночное время с 22 часов до 6 часов, а в период с
    1 мая по 31 августа в ночное время с 23 часов до 6 часов, и несовершеннолетних в возрасте от 16 до 18 лет в ночное
    время с 23 часов до 6 часов без сопровождения родителей (лиц их заменяющих), а также лиц, осуществляющих мероприятия
    с участием несовершеннолетних, в общественных местах, в том числе на объектах (на территории, в помещениях)
    юридических лиц, которые предназначены для развлечений, досуга, где в установленном законом порядке предусмотрена
    розничная продажа алкогольной продукции, пива и напитков, изготавливаемых на его основе.</p>
<p><br></p>
<p>ВНИМАНИЕ! Срок действия онлайн бронирования составляет 24 часа. Воспользоваться услугой онлайн бронирования билетов
    на мероприятие Вы можете не позднее 48 часов до времени начала мероприятия. При этом все бронирования аннулируются
    за 24 часа до начала мероприятия.&nbsp;</p>
<p><br></p>
<p>ВНИМАНИЕ! При бронировании билетов просим принять во внимание, что стоимость билета подлежит возврату только в случае
    отмены, замены или переноса мероприятия.</p>
<p><br></p>
<p>1. &nbsp; ИНСТРУКЦИЯ ПО ОНЛАЙН БРОНИРОВАНИЮ БИЛЕТОВ</p>
<p><br></p>
<p>Для оформления бронирования (Заказа) на странице выбранного Вами мероприятия нажмите «Купить билеты». Далее на схеме
    Концертного зала «Крокус Сити Холл» выберите необходимые Вам места (максимальное количество - 6 шт.) и нажмите
    «Продолжить».</p>
<p><br></p>
<p>ВНИМАНИЕ! Вам следует пройти все «Шаги» в течение 15 минут, в этот период выбранные Вами билеты резервируются и
    перестают быть доступными для других лиц.</p>
<p><br></p>
<p>Шаг 1:</p>
<p>Выберите вид услуги – «Забронировать».</p>
<p><br></p>
<p>Шаг 2:</p>
<p>Последовательно выполните следующие действия:</p>
<p>1) подтвердите выбранные Вами места и нажмите «Продолжить».</p>
<p>2) введите номер мобильного телефона и нажмите «Получить код» для получения бесплатного смс с кодом
    подтверждения.</p>
<p>3) введите полученный в sms-сообщении код подтверждения и нажмите «Продолжить».</p>
<p>Кодом подтверждения Вы можете воспользоваться единожды и только в рамках бронирования ранее выбранных Вами мест.</p>
<p>Для получения бесплатной смс-рассылки об афише концертного зала «Крокус Сити Холл», специальных акциях и т.п. –
    проставьте соответствующую галочку.</p>
<p><br></p>
<p>Шаг 3:</p>
<p>Заполните поля «Имя», «Фамилия» и «Адрес e-mail».</p>
<p><br></p>
<p>ВНИМАНИЕ! Все поля, отмеченные звездочкой, обязательны для заполнения.</p>
<p><br></p>
<p>Для получения e-mail рассылки об афише концертного зала «Крокус Сити Холл», специальных акциях и т.п. – проставьте
    соответствующую галочку.&nbsp;</p>
<p><br></p>
<p>Шаг 4:</p>
<p>На указанный Вами номер телефона отправлено sms-сообщение с информацией о забронированных билетах, номером брони и
    сроком ее действия. Сохраните это sms-сообщение или запомните номер брони. В течение 24 часов с момента оформления
    бронирования билетов Вам необходимо оплатить билеты в любой кассе Концертного зала (если Вы не воспользовались
    услугой доставки билетов).</p>
<p><br></p>
<p>ВНИМАНИЕ! В случае неоплаты билета в течение 24 часов с момента оформления бронирования бронь билетов
    аннулируется.</p>
<p><br></p>
<p>2. &nbsp; ДОСТАВКА БИЛЕТОВ</p>
<p>Вы можете заказать доставку забронированных Вами билетов. Крокус Сити Холл обеспечивает оказание услуги доставки
    билетов на следующих условиях:</p>
<p>Доставку билетов осуществляет ООО «Меридиан» (ОГРН 1145029001369, адрес местонахождения: 141008, РФ, Московская обл.,
    г. Мытищи, ул. Летная, д. 3/15).</p>
<p>При оформлении доставки билетов:</p>
<p>Подробно опишите адрес доставки, включая ближайшую станцию метро, № автобуса, троллейбуса, трамвая, маршрутного
    такси, название остановки и т.п. Это упростит работу курьера и обеспечит своевременность выполнения доставки
    билетов.</p>
<p>Доставка осуществляется в течение 3-5 рабочих дней.</p>
<p>На следующий рабочий день после оформления бронирования сотрудник отдела доставки свяжется с Вами по указанному
    номеру мобильного телефона.</p>
<p>Цены за доставку билетов:</p>
<p>300,00 руб. - по Москве (в пределах МКАД);</p>
<p>600,00 руб. - за пределы МКАД (до 30 км, включая г. Зеленоград);</p>
<p>+ 1% от суммы Заказа (номинальная стоимость билетов), в случае если сумма Заказа равна или превышает 30 000,00
    руб.</p>
<p>Уточнить информацию по доставке билетов Вы можете по тел.: 8 (499) 550-00-55 или 8 (495) 223-40-20 доб. 5677.</p>
<p><br></p>
<p>3. &nbsp; СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ</p>
<p>Бронируя билеты, Вы принимаете условия настоящих Правил и подтверждаете свое согласие на обработку Крокус Сити Холлом
    Ваших персональных данных, включая сбор, запись, систематизацию, хранение, уточнение (обновление, изменение),
    извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование,
    удаление, уничтожение персональных данных с целью оформления бронирования билетов на мероприятие (оформления
    Заказа), их доставки, с целью уведомления об отмене, замене или переносе мероприятия и порядке возврата денежных
    средств за билеты, возврата денежных средств при отмене, замене или переносе мероприятия, а в случае если Вы
    согласились на получение бесплатной смс рассылки и/или e-mail рассылки - в информационных целях, в целях продвижения
    товаров, работ и услуг на рынке и т.п., в том числе на передачу соответствующей информации лицам, привлекаемым к
    исполнению указанных в настоящем абзаце действий.</p>
<p>Настоящее согласие распространяется на следующие персональные данные: фамилия, имя, e-mail, номер мобильного
    телефона, адрес доставки.</p>
<p>Настоящее согласие дается на срок до отзыва настоящего согласия.</p>
<p>Вы вправе отозвать данное согласие на обработку своих персональных данных путем направления письменного уведомления
    на почтовый адрес Крокус Сити Холла: 143402, Российская Федерация, Московская обл., Красногорский р-н, г.
    Красногорск, ул. Международная, д. 20, а/я 457.</p>
<p>В случае отзыва Вами согласия на обработку своих персональных данных Крокус Сити Холл обязан прекратить обработку
    персональных данных и уничтожить персональные данные в течение 3 рабочих дней с даты получения указанного
    отзыва.</p>
<p><br></p>
<p>Бронируя билеты, Вы принимаете условия настоящих Правил и также подтверждаете свое согласие на обработку, включая
    сбор, запись, систематизацию, хранение, уточнение (обновление, изменение), извлечение, использование, передачу
    (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение ООО «Меридиан» Ваших
    персональных данных (фамилия, имя, e-mail, номер мобильного телефона, адрес доставки) в целях доставки билетов на
    мероприятие.</p>
<p><strong style="text-align: justify;"><span style="color: #ff0000">ВНИМАНИЕ! Вы несете все риски, связанные с копированием (посредством сканирования, фотографирования и т.п.) билетов, а также с приобретением билетов у третьих лиц. Проход в концертный зал будет осуществлен первым, кто предъявил билет, в связи с чем не копируйте, не сканируйте, не фотографируйте и не выкладывайте фото/скан Вашего электронного билета в сети интернет.</span></strong>
</p>
<p>ВНИМАНИЕ! Крокус Сити Холл оставляет за собой право аннулировать бронирования билетов тех лиц, которые указали
    неверные данные (имя, фамилию, адрес e-mail, контактный телефон, адрес доставки).</p>