﻿<h1>ПРАВИЛА ОНЛАЙН ОПЛАТЫ БИЛЕТОВ и ОБРАЩЕНИЯ С ЭЛЕКТРОННЫМ БИЛЕТОМ</h1>


<p>Закрытое акционерное общество «КРОКУС ИНТЕРНЭШНЛ» «CROCUS INTERNATIONAL» (далее - "Крокус Сити Холл") предоставляет
    Вам услугу по онлайн оплате билетов на мероприятия, проводимые в Концертном зале «Крокус Сити Холл», с
    использованием платежных карт в порядке и на условиях, предусмотренных настоящими Правилами.</p>

<h3>1. ИНСТРУКЦИЯ ПО ОНЛАЙН ОПЛАТЕ БИЛЕТОВ</h3>

<strong>ВНИМАНИЕ!</strong> При онлайн оплате билетов просим принимать во внимание знак информационной продукции мероприятия, а также необходимость соблюдения следующих требований ст. 4 Закона Московской области от 04.12.2009 г. № 148/2009 – ОЗ «О мерах по предупреждению причинения вреда здоровью и развитию несовершеннолетних в Московской области»:
<blockquote><strong>Не допускается нахождение несовершеннолетних в возрасте до 16 лет в ночное время с 22 часов до 6
        часов, а в период с 1 мая по 31 августа в ночное время с 23 часов до 6 часов, и несовершеннолетних в возрасте от
        16 до 18 лет в ночное время с 23 часов до 6 часов без сопровождения родителей (лиц их заменяющих), а также лиц,
        осуществляющих мероприятия с участием несовершеннолетних, в общественных местах, в том числе на объектах (на
        территории, в помещениях) юридических лиц, которые предназначены для развлечений, досуга, где в установленном
        законом порядке предусмотрена розничная продажа алкогольной продукции, пива и напитков, изготавливаемых на его
        основе.</strong></blockquote>


<p><strong>ВНИМАНИЕ!</strong> Воспользоваться услугой онлайн оплаты билетов на мероприятие Вы можете не позднее 24 часов
    до времени начала мероприятия.</p>

<p>При покупке билетов система автоматически предлагает Вам лучшие места, которые есть в наличии. Для оформления заказа
    выберите необходимое Вам количество билетов (максимальное количество - 6 шт.) на схеме Концертного зала «Крокус Сити
    Холл» и нажмите "Продолжить".<p>

<h4>Шаг 1:</h4>
<p>Вам необходимо выбрать вид услуги – «Купить».</p>
<p>После выбора услуги на «Шаг 1» вернуться нельзя.</p>


<p><strong>ВНИМАНИЕ!</strong> Вам следует пройти «Шаг 1» и «Шаг 2» в течение 15 минут, в этот период выбранные Вами
    билеты резервируются и перестают быть доступными для других лиц.</p>


<h4>Шаг 2:</h4>
<p>Вам необходимо последовательно совершить следующие действия:</p>
<ol>
    <li>Подтвердить выбранные места.</li>
    <li>Ввести номер мобильного телефона для получения бесплатного смс с кодом подтверждения. При этом номер мобильного
        телефона должен соответствовать международному формату.
    </li>
    <li>Ввести полученный код подтверждения. Кодом подтверждения Вы можете воспользоваться единожды в течение 15
        (Пятнадцати минут) с момента получения кода подтверждения.
    </li>
    <li>Заполнить поля «Фамилия», «Имя», «Отчество» и «Электронный адрес»», а также подтвердить согласие с настоящими
        Правилами путем проставления галочки напротив слов «Подтвердите, что вы ознакомились и согласны с Правилами
        онлайн оплаты билетов и обращения с электронным билетом». Без подтверждения согласия с настоящими Правилами
        онлайн оплата билетов не может быть произведена.
        <strong>ВНИМАНИЕ!</strong> Информация, указанная в полях для обязательного заполнения, должна быть достоверной.
    </li>
    <li>Перейти к оплате.</li>
</ol>

<p><strong>ВНИМАНИЕ!</strong> Оплата стоимости билета производится в Рублях РФ. Если валюта платежной карты иная, то
    стоимость билета конвертируется в валюту банковского счета клиента по курсу банка-эмитента.
    Зарубежные банки могут взимать дополнительные суммы в качестве комиссий за операцию онлайн оплаты. Для уточнения
    условий оплаты свяжитесь со своим банком-эмитентом.</p>


<p>Оплата билетов может производиться с использованием платежных карт VISA или MasterCard. За разъяснениями об
    особенностях оплаты по Вашей платежной карте в сети Интернет, причинах отказа в оплате Вам необходимо в первую
    очередь обратиться в службу поддержки Вашего банка.</p>
<p>Для совершения оплаты:</p>
<ol>
    <li>Выберите способ оплаты "VISA, MasterCard" и нажмите "Купить".</li>
    <li>На странице авторизации введите данные в поля «Номер карты», «Имя владельца карты», «Срок действия карты» и
        «Верификационный номер карты» (CVV2 для VISA или CVC2 для MasterCard). Вводить ПИН-код не требуется.
        <blockquote>Все необходимые данные имеются на самой карте. Верификационный номер платежной карты - это три
            последние цифры, находящиеся на обратной стороне платежной карты:
            <div style="margin:10px auto;">
            </div>

            <p><strong>ВНИМАНИЕ!</strong> Ввод реквизитов платежной карты происходит в системе Интернет-платежей на
                сайте <strong>ОАО "ТрансКредитБанк"</strong>, куда Вы автоматически перенаправлены после
                http://www.crocus-hall.ru/tickets/online/ Обработка и хранение данных о платежной карте производится ОАО
                "ТрансКредитБанк". При этом передача данных платежной карты производится с соблюдением всех необходимых
                мер безопасности. Данные о платежной карте будут сообщены только на авторизационный сервер ОАО
                "ТрансКредитБанк" по защищенному каналу (протокол SSL 3.0).</p>
            <p><strong>За дополнительной информацией можно обратиться в службу поддержки ОАО "ТрансКредитБанк" -
                    телефон: +7 (495) 500-30-03.</strong></p>
            <p><strong>Крокус Сити Холл</strong> не получает данные о платежной карте, не хранит и не обрабатывает их.
            </p>

            <p><strong>ЗАО «Платрон»</strong> - организация, обеспечивающая проведение операций оплаты билетов с
                использованием платежных карт в системе Интернет-платежей ОАО "ТрансКредитБанк", получает код
                авторизации и маскированный пан карты исключительно в целях проведения указанной операции.</p>

        </blockquote>
    </li>
    <li>Нажмите "Оплатить". Если реквизиты платежной карты введены правильно, то оплата билета произойдет успешно в
        течение нескольких секунд. В том случае если Ваша платежная карта поддерживает технологию 3DSecure, после ввода
        реквизитов платежной карты Вы будете дополнительно перенаправлены на сайт банка-эмитента платежной карты для
        подтверждения операции.
        При отрицательном результате авторизации операции Вы получите извещение о невозможности оплаты заказа с
        использованием данной платежной карты.
    </li>
</ol>

<h4>Шаг 3:</h4>
<p>На Ваш электронный адрес отправлен электронный билет, который Вам необходимо распечатать и предъявить в любую кассу
    «Крокус Сити Холл», где Вам будет выдан бланк строгой отчетности «Билет».</p>
<p><strong>ВНИМАНИЕ!</strong> Для посещения мероприятия контролеру Концертного зала «Крокус Сити Холл» необходимо
    предъявлять бланк строгой отчетности «Билет».</p>


<h3>2. ТРЕБОВАНИЯ К ПЕЧАТИ ЭЛЕКТРОННОГО БИЛЕТА И ОБРАЩЕНИЮ С НИМ</h3>
<ul>
    <li>Распечатайте электронный билет на чистом белом листе формата А4.</li>
    <li>Электронный билет может быть распечатан как на цветном, так и на черно-белом принтере.</li>
    <li>Электронный билет может быть распечатан как на лазерном, так и на струйном принтере с условием, что качество
        печати будет не ниже 300 Dpi.
    </li>
    <li>Штрих код и QR код является гарантом уникальности электронного билета. Бланк строгой отчетности «Билет» может
        быть выдан только при условии, что штрих код считывается сканирующим устройством, и лист, на котором распечатан
        электронный билет, не смят, не поврежден и не испачкан.
    </li>
    <li>Электронный билет с исправлениями и помарками недействителен.</li>
</ul>
<p><strong>ВНИМАНИЕ!</strong> Вы несете все риски, связанные с копированием (посредством сканирования, фотографирования
    и т.п.) электронного билета. Бланк строгой отчетности «Билет» будет выдан первому, кто предъявил в кассу «Крокус
    Сити Холл» электронный билет, в связи с чем, не копируйте, не сканируйте, не фотографируйте и не выкладывайте
    фото/скан Вашего электронного билета в сети Интернет.</p>


<h3>3. ПОРЯДОК ВОЗВРАТА БИЛЕТА</h3>
<p>Для возврата билета Вам необходимо не позднее 7 рабочих дней до начала мероприятия заполнить и отправить <a
            href='http://www.crocus-hall.ru/_tickets/refund_form.doc'>заявление</a> на адрес oprubaha@crocus-hall.com,
    которое подлежит рассмотрению организатором мероприятия (информация об организаторе мероприятия указана на
    электронном билете) в течение 5 рабочих дней с даты заполнения такого Заявления.
<p>О результате рассмотрения указанного Заявления Вы будете уведомлены Крокус Сити Холлом путем направления Вам письма
    на указанный Вами E-mail.
    В случае принятия организатором положительного решения по Заявлению сумма денежных средств, возвращаемых Вам,
    определяется в соответствии с действующим законодательством РФ.</p>
<p>При этом возврат денежных средств осуществляется только на ту платежную карту, с которой Вами была произведена
    оплата.</p>
<p><strong>ВНИМАНИЕ!</strong> В случае если Вам в соответствии со 2 разделом настоящих Правил уже выдан бланк строгой
    отчетности «Билет», или срок до начала мероприятия составляет менее 7 рабочих дней, то Заявление Вы можете заполнить
    только в центральной кассе Концертного зала «Крокус Сити Холл» в рабочие дни (с понедельника по пятницу) с 11:00 до
    18:00, обед с 14:00 до 15:00.</p>
Перевод денежных средств на платежную карту осуществляется на следующий рабочий день после принятия положительного решения по Заявлению. Далее сроки зачисления зависят от банка-эмитента, как правило, этот срок составляет от 14 рабочих дней до 30 рабочих дней.</p>

<h3>4. ПОРЯДОК ВОЗВРАТА ДЕНЕЖНЫХ СРЕДСТВ В СЛУЧАЕ ОТМЕНЫ, ЗАМЕНЫ ИЛИ ПЕРЕНОСА МЕРОПРИЯТИЯ</h3>
<p>В случае отмены, замены или переноса мероприятия возврат денежных средств производится на ту платежную карту, с
    которой Вами была произведена оплата.</p>
<p>Для возврата денежных средств Вам необходимо в течение 10 рабочих дней с намеченной даты проведения мероприятия,
    которое было отменено, заменено или перенесено, заполнить Заявление на сайте, которое подлежит рассмотрению Крокус
    Сити Холлом в течение 5 рабочих дней с даты заполнения такого Заявления.</p>
<p>Перевод денежных средств на платежную карту осуществляется на следующий рабочий день после окончания указанного выше
    срока рассмотрения Заявления. Далее сроки зачисления зависят от банка-эмитента, как правило, этот срок составляет от
    14 рабочих дней до 30 рабочих дней.</p>


<h3>5. СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ</h3>
<p>Принимая условия настоящих Правил Вы подтверждаете свое согласие на обработку Ваших персональных данных, включая
    систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, передачу персональных данных
    исключительно с целью уведомления об отмене, замене или переносе мероприятия, порядке возврата денежных средств за
    билеты в случае отмены, замены или переноса мероприятия и т.п.</p>
<p>Вы вправе отозвать согласие на обработку персональных данных путем направления письменного уведомления на почтовый
    адрес Крокус Сити Холла: 143402, Российская Федерация, Московская обл., Красногорский р-н, г. Красногорск, 65-66 км
    МКАД, ТВК, корп.2, пав.3., а/я 457.</p>
<p>В случае отзыва Вами согласия на обработку персональных данных Крокус Сити Холл обязан прекратить обработку
    персональных данных и уничтожить персональные данные в срок, не превышающий 3 рабочих дней с даты получения
    указанного отзыва.
    Принимая условия настоящих Правил, Вы также подтверждаете свое согласие на получение ОАО "ТрансКредитБанк" и ЗАО
    «Платрон» данных, указанных в настоящих Правилах, в целях проведения операции оплаты билетов с использованием
    платежных карт.
</p>


<p><strong>ВНИМАНИЕ!</strong> Настоящие Правила регулируют только онлайн оплату билетов посредством платежных карт и не
    распространяются на оплату в кассах Концертного зала «Крокус Сити Холл» и оплату курьеру при доставке билетов.</p>

		