<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Купон на подарок</title>
    <link rel="stylesheet" href="/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/css/print_ticket_vegas.css" type="text/css">
    <!--[if IE 8]>
    <link rel="stylesheet" type="text/css" media="all" href="{{ css }}ie8.css">
    <![endif]-->
</head>

<body class="gift">
<div id="main-container">
    <div id="header" class="container">
        <div class="clearfix gift-top">
            <div class="pull-left align-left">
                <img src="/pics/print_ticket/vegas/logo.png" alt="logo" id="logo-top">
                <div class="event_sessions-img" style="background-image:url(http://www.vegas-hall.ru/upload/iblock/8b9/8b977600f5d90239aa43dfb6451bb5d0.jpg);"></div>
            </div>
            <div class="border-vertical"></div>
            <div class="pull-rigth align-left">
                <div id="eticket_inf">
                    <div class="title lign-right">Талон на фирменный подарок</div>
                    <div class="number align-right">{{ data.order_id }}</div>
                    <div class="title-name align-right">VEGAS CITY Hall</div>
                    <div class="small small-top-address">
                        {{ data.parameters.org.address }}
                    </div>

                    <div class="event-name">
                        {{ data.event_name }}
                    </div>
                </div>
                <table>
                    <tbody>
                    <tr>
                        <td>
                            <div class="title">Имя, фамилия:</div>
                        </td>
                        <td>
                            <div>{{ data.client_name }}</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="title">Номер заказа:</div>
                        </td>
                        <td>
                            {{ data.order_id }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="title">Дата и время заказа:</div>
                        </td>
                        <td>
                            <div>{{ data.buy_datetime }}</div>
                        </td>
                    </tr>
                    <tr>

                        <td>
                            <div class="title">E-mail</div>
                        </td>
                        <td>
                            <div>
                                {{ data.client_email }}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="title">Tелефон</div>

                        </td>
                        <td>
                            <div>{{ data.client_phone }}</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="title">Стоимость услуги:</div>
                        </td>
                        <td>
                            <div>
                                {{ data.price }} руб
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="title">Организатор:</div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span class="small">
                                {{ data.parameters.org.name }}
                            </span><br>
                            <span class="small">{{ data.parameters.org.address }}
                            </span>/<span class="small">{{ data.parameters.org.inn }}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="barcode-wrap">
                    <img src="/ticket/code/{{ data.coupon_id }}" id="barcode" alt="barcode">
                    <span class="circle-big">{{ data.parameters.age }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="cut-line"></div>

    <div id="section" class="container gift-bottom">
        <div class="pull-left align-left">
            <div class="title">СОСТАВ ПОДАРКА:</div>
            <div>
                <ol>
                    {% for item in data.consist %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ol>
            </div>
            <img src="/ticket/code/{{ data.coupon_id }}" id="barcode-bottom" alt="barcode">
        </div>

        <div class="pull-rigth align-left">
            <div><p>Настоящий подарочный талон не является билетом,
                    предоставляющим право на посещение мероприятия, а
                    предназначен для обмена его на подарок. </p>
                <p>Выдача фирменных подарков в обмен на талоны производится в
                    дни проведения мероприятий после окончания шоу в специально
                    отведённых местах. Штрихкод, указанный на талоне,
                    действителен для однократного обмена на подарок.
                    Не допускайте копирования талона посторонними лицами и не
                    выкладывайте фото/скан со штрих-кодом в сети «Интернет».</p>
                <p>В случае отмены, замены или переноса мероприятия подарочный
                    талон сохраняет свою силу и может быть обменен в период и по
                    адресу, указанным в настоящем талоне.</p>
                <p>Настоящие правила не являются Публичной офертой. Полные
                    правила приобретения билетов и талонов (Публичная оферта) на
                    фирменные подарки опубликованы на сайте:
                    <a href="http://www.crocus-hall.ru/tickets/rules_purchase">
                        www.crocus-hall.ru/tickets/rules_purchase
                    </a>
                </p>
                <p style="text-decoration: underline">Call-центр: +7 (499) 55 000 55</p>
            </div>
            <img src="/pics/print_ticket/vegas/logo.png" alt="logo" id="logo-bottom">
            <div class="call-center">+7&nbsp;<span>(</span>499<span>)</span>&nbsp;55 000 55</div>
        </div>
    </div>
    <img src="/ticket/code/{{ data.coupon_id }}?angle=90&w=300&h=100" id="barcode-left" alt="barcode">
    <img src="/ticket/code/{{ data.coupon_id }}?angle=90&w=300&h=100" id="barcode-right" alt="barcode">
</div>
</body>
</html>