{% import 'functions.twig' as functions %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/js/lib/bootstrap-3.3.6-dist/css/bootstrap.min.css"/>
    {% for file in css %}
        <link rel="stylesheet" type="text/css" href="{{ file.path ~ '?' ~ file.last_modified }}"/>
    {% endfor %}
    {#<link rel="stylesheet" type="text/css" href="/css/tickets-steps.css" />#}
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(), event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PHVCCVB');</script>
    <!-- End Google Tag Manager -->
</head>
<body data-event-id="{{ id }}" data-lang="{{ lang }}" data-discount="{{ discount }}">
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PHVCCVB"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<div id="ticket__wrapper" class="ticket__wrapper">
    <div id="ticket-main-container" class="ticket__container">
        {# шапка с названием мероприятия #}
        <div id="ticket-event_header" class="event_header">
            <span id="ticket-event_title" data-bind-text="title"></span>
            <span id="ticket-event_date" data-bind-text="date"></span>
            <span id="ticket-event_time" data-bind-text="time"></span>
            <div id="ticket-event_org" class="event_org">
                <span>{{ i18n.SHOWMAKER }}: </span>
                <span id="ticket-event_org_name" data-bind-text="org_name"></span>
                <span id="ticket-event_org_inn" data-bind-text="org_inn"></span>&#044;
                <span id="ticket-event_org_address" data-bind-text="org_address"></span>
            </div>
        </div>

        {# заглушка со спиннером загрузки #}
        <div id="ticket-loading_overlay" class="loading_overlay">
            <div id="ticket-loading_img" class="loading"></div>
            <div id="ticket-loading_message" class="loading_message"></div>
        </div>

        <div id="ticket-steps__wrapper">

            <div class="steps" style="display:none;">
                <div class="steps_ttl">
                    <p>Оформление <span>заказа:</span></p>
                </div>
                <div class="step_item active">
                    <span>Шаг 1</span><span>Бронирование/<br>покупка</span>
                </div>
                <div class="step_item">
                    <span>Шаг 2</span><span>Подтверждение<br>данных</span>
                </div>
                <div class="step_item">
                    <span>Шаг 3</span><span>финиш</span>
                </div>
            </div>

            {# выбор билетов #}
            <div id="step__choose_event" data-step="choose_event" class="full_block">
                <div id="ticket-schema_plan">
                    <canvas id="ticket-schema_plan_canvas__overlay" class="ticket-schema_plan_canvas"></canvas>
                    <canvas id="ticket-schema_plan_canvas__base" class="ticket-schema_plan_canvas"></canvas>
                    <canvas id="ticket-schema_plan_canvas__seats" class="ticket-schema_plan_canvas"></canvas>
                    <canvas id="ticket-schema_plan_canvas__seats_hover" class="ticket-schema_plan_canvas"></canvas>
                    <canvas id="ticket-schema_plan_canvas__seats_selected" class="ticket-schema_plan_canvas"></canvas>

                    <div id="ticket-schema_plan_canvas__seats_overlay" class="ticket-schema_plan_canvas">
                        <div id="ticket-schema_plan_svg">
                        </div>
                    </div>
                </div>
                {# мини-карта #}
                <div id="ticket-schema_mini"></div>

                {# zoom #}
                <div id="ticket-controls">
                    <a role="button" class="btn btn-warning" data-zoom="in">+</a>
                    <a role="button" class="btn btn-warning disabled" data-zoom="out">-</a>
                </div>


                {# всплывающий балун радом с номером места #}
                <div id="bubble_seat" class="popover top ticket-bubble ticket-bubble__wrapper">
                    <div class="ticket-bubble__container popover-content">
                        <div class="bubble_name" data-bind-text="name"></div>
                        <div class="bubble_row" data-bind-text="row"></div>
                        <div class="bubble_place" data-bind-text="place"></div>
                        <div class="bubble_price" data-bind-text="price"></div>
                    </div>
                    <div class="arrow"></div>
                </div>
                {# легенда #}
                <div id="ticket_legend" class="legend_table-prices"></div>

                {# всплывающий балун с названием сектора #}
                <div id="bubble_sector" class="popover top ticket-bubble ticket-bubble__wrapper">
                    <div class="ticket-bubble__container popover-content">
                        <div class="bubble_name" data-bind-text="name"></div>
                        <div class="bubble_available" data-bind-text="available"></div>
                        <div class="bubble_price" data-bind-text="price"></div>
                    </div>
                    <div class="arrow"></div>
                </div>

                {# блок для отображения выбранного места todo нужен ли он #}
                <div id="ticket_card" class="ticket_card" style="z-index:1;">
                    <a role="button" class="remove_button" title="{{ i18n.MAIN_SITE_ACTION_DEL }}"><i
                                class="icon-remove"></i></a>
                    <span class="ticket_card-seat" data-bind-text="place"></span>
                    <p class="ticket_card-price"><span data-bind-text="price"></span><span class="rouble">Р</span></p>
                    <p class="ticket_card-description" data-bind-text="sector"></p>
                </div>

                <div id="ticket_card__container" data-max-order="{{ ticket_settings.max_order }}"></div>

                <div class="btn-block" role="group">
                    <a id="submit_places" role="button"
                       onclick="yaCounter41926539.reachGoal('Callbackvegas_CHOOSEPLACE'); return true;"
                       data-next-step="choose-action"
                       class="disabled submit_button btn btn-success bottom_button">{{ i18n.MAIN_SITE_CONTINUE }}</a>
                </div>
            </div>

            {# подтвердить выбранные билеты #}
            <div id="step__confirm" data-step="confirm" style="display: none" class="ticket-step full_block">
                <div class="step__confirm-inner">
                    <div class="choosen-places">{{ i18n.INF_SELECTED_PLACES }}:</div>

                    <div id="confirm_places__table"></div>



                    <div class="insurance" id="insurance-block" data-on="{{ insurance_on }}">
                        <span style="display: block;">
                            <input type="checkbox" class="styled_box type1" name="insurance" id="insurance-acceptance">
                            <label for="insurance-acceptance" id="insurance-sum" style="margin-top:30px;">Страхование билета на мероприятие: <span
                                        id="insurance-holder"></span></label>
                            <div class="insurance-info info">
                                <span class="spoiler-head">Инфо</span>
                                <span class="spoiler-body">
                                    <a href="http://www.vegas-hall.ru/pravila/strahovanie/" target="blank">Как это работает?</a><br>
                                    <a href="http://www.vegas-hall.ru/upload/Pravila_strahovaniya_EVENT_ru.pdf"
                                       target="blank">Правила страхования</a><br>
                                    <a href="http://www.vegas-hall.ru/pravila/strahovanie#info_about" target="blank">Информация о страховом продукте</a><br>
                                </span>
                            </div>
                            <p>Я согласен с условиями оказания услуг и ознакомлен с правилами страхования.</p>
                            <p>Не пойти на мероприятие – уже неприятно. Со страховкой билета вы можете вернуть свои деньги.</p>
                        </span>
                    </div>

                    <div class="gift" id="gift-block" data-on="{{ gifts_count }}" data-coupon="{{ gift.id }}">
                        <div class="gift-h"><i class="gift-i"></i>{{ gift.title }}</div>
                        <div class="gift-number">
                            <span class="gift-minus">—</span>
                            <input type="number" min="0" value="0" max="{{ gift.count }}" step="1" name="gift" id="gift-count" class="gift-count"/>
                            <span class="gift-plus">+</span>
                        </div>

                        <label for="gift-count" id="gift-label" class="gift-label">Количество подарков по <span
                                    id="gift-holder" class="gift-holder">{{ gift.price }}</span> {{ i18n.INF_PRICE_RUB }}</label>
                        <div class="gift-info info">
                            <span class="spoiler-head">Инфо</span>
                            <span class="spoiler-body">{% include 'event/gift.twig' %} </span>
                        </div>
                        <p>Подарочный талон не является билетом, предоставляющим право на посещение мероприятия</p>
                    </div>

                    <div class="btn-block">
                        <div class="btn-group" role="group">
                            <a id="confirm_places__cancel" role="button" data-next-step="choose_event"
                               class="cancel_button btn btn-danger bottom_button"
                               aria-label="confirm_places">{{ i18n.MAIN_SITE_BACK_SELECTION }}</a>
                        </div>
                        <div class="btn-group" role="group">
                            <a id="confirm_places" role="button"
                               onclick="yaCounter41926539.reachGoal('Callbackvegas_CHOOSEPLACE_CONFIRM'); return true;"
                               data-next-step="confirm-phone" class="submit_button btn btn-success bottom_button"
                               aria-label="confirm_places">{{ i18n.MAIN_SITE_SUBMIT }}</a>
                        </div>
                    </div>
                </div>
            </div>

            {# выбрать бронирование или покупка #}
            <div id="step__choose-action" data-step="choose-action" style="display: none" class="ticket-step">
                <div class="choose-action__title">{{ i18n.MAIN_SITE_SELECT_ACTION }}</div>

                <div class="choose-action__buttons_reserve">
                    <a id="choose-action_reserve"
                       onclick="yaCounter41926539.reachGoal('Callbackvegas_RESERVE'); return true;" role="button"
                       data-next-step="confirm" class="submit_button btn btn-success"
                       data-choose-step="user_contacts_reserve"
                       data-choose-action="reserve">{{ i18n.MAIN_SITE_RESERVE }}</a>
                </div>

                <div class="choose-action__buttons_buy">
                    <a id="choose-action_buy" role="button"
                       onclick="yaCounter41926539.reachGoal('Callbackvegas_BUY'); return true;" data-next-step="confirm"
                       class="submit_button btn btn-success" data-choose-step="user_contacts_buy"
                       data-test="{% if testPlatron %}buy_test{% else %}buy{% endif %}"
                       data-choose-action="buy">{{ i18n.MAIN_SITE_BUY }}</a><br><br>
                </div>

                <div class="choose-action__rules">
                    <div class="choose-action__rules-confirm">
                        {{ functions.trans(i18n.MAIN_SITE_AGREE_RULES, i18n, { ":button": '<span>' ~ i18n.MAIN_SITE_RESERVE ~ '</span> ' ~ i18n.WORD_OR ~ ' <span>' ~ i18n.MAIN_SITE_BUY ~ '</span>'  }) }}
                        <a role="button" class="modal-link" data-content="rules"
                           data-document="{{ ticket_settings.system }}/rules">{{ i18n.WORD_RULES_GET_TICKETS }}</a>
                    </div>
                </div>

                <div class="hide_wrap"></div>
            </div>

            {# получить код в смс #}
            <div id="step__confirm-phone" data-step="confirm-phone" style="display: none"
                 class="ticket-step full_block">
                <form id="form__confirm-phone" method="post">
                    <div class="phone-number">
                        <div class="text-left">{{ i18n.MAIN_SITE_ENTER_PHONE_NUMBER }}</div>
                        <label for="form__confirm-phone__phone">{{ i18n.WORD_PHONE_NO }}</label>
                        <input type="text" name="phone" id="form__confirm-phone__phone" required class="required"
                               data-required="1" placeholder="(ххх) ххх-хх-хх"/>
                        <a id="confirm-phone" role="button" class="submit_button btn btn-success disabled"
                           data-repeat-interval="">{{ i18n.WORD_GET_CODE }}</a>
                    </div>
                    <div>
                        <div id="confirm-phone__interval" style="display: none;">Следующее смс вы можете запросить через
                            <span data-bind-text="interval"></span> секунд
                        </div>
                    </div>
                </form>

                <form id="form__check-code" method="post">
                    <div class="phone-code">
                        <label for="form__check-code__code">Введите код</label>
                        <input type="text" name="code" id="form__check-code__code" disabled autocomplete="off"/>
                        <a id="check-code"
                           onclick="yaCounter41926539.reachGoal('Callbackvegas_CHECKCODE'); return true;" role="button"
                           class="submit_button btn btn-success disabled">{{ i18n.MAIN_SITE_CONTINUE }}</a>
                    </div>
                </form>

                <div class="confirm-phone__cancel-back">
                    <a id="confirm-phone__cancel" role="button" data-next-step="choose_event"
                       class="cancel_button btn btn-danger">{{ i18n.MAIN_SITE_BACK_SELECTION }}</a>
                </div>

                <div class="hide_wrap"></div>
            </div>

            {# заполнить контактные данные для бронирования #}
            <div id="step__user_contacts_reserve" data-step="user_contacts_reserve" style="display: none"
                 class="ticket-step full_block">
                <form id="form__user_contacts_reserve" method="post">
                    <div class="col-md-12">
                        <div class="buy_info"><span
                                    class="success">{{ i18n.WORD_WARNING }}</span> {{ i18n.MAIN_SITE_RESERVE_WARNING | raw }}
                        </div>
                        <div class="user_contacts">
                            <label for="form__user_contacts_reserve__name">{{ i18n.MAIN_SITE_PERSON_NAME }}</label>
                            <input type="text" name="name" id="form__user_contacts_reserve__name"
                                   placeholder="{{ i18n.MAIN_SITE_PERSON_NAME }}" data-required="1" data-combine="fio"
                                   data-title="{{ i18n.MAIN_SITE_PERSON_NAME }}"/>
                        </div>

                        <div class="user_contacts">
                            <label for="form__user_contacts_reserve__surname">{{ i18n.MAIN_SITE_PERSON_SNAME }}</label>
                            <input type="text" name="surname" id="form__user_contacts_reserve__surname"
                                   placeholder="{{ i18n.MAIN_SITE_PERSON_SNAME }}" data-required="1" data-combine="fio"
                                   data-title="{{ i18n.MAIN_SITE_PERSON_SNAME }}"/>
                        </div>

                        {#<div class="user_contacts">
                            <input type="text" name="phone" id="form__user_contacts_reserve__phone" disabled />
                        </div>#}
                        <div class="user_contacts">
                            <label for="form__user_contacts_reserve__email">{{ i18n.MAIN_SITE_PERSON_EMAIL }}</label>
                            <input type="text" name="email" id="form__user_contacts_reserve__email"
                                   placeholder="{{ i18n.MAIN_SITE_PERSON_EMAIL }}" data-required="1"
                                   data-title="{{ i18n.MAIN_SITE_PERSON_EMAIL }}"/>
                        </div>

                        <div class="user_contacts subscribe">
                            <input type="checkbox" name="subscribe" id="form__user_contacts_reserve__subscribe"
                                   checked/>
                            <label for="form__user_contacts_reserve__subscribe">{{ i18n.AGREE_TO_SUBSCRIBE }}</label>
                        </div>

                        <div class="subscribe subscribe_delivery">
                            <input type="checkbox" name="delivery" id="form__user_contacts_reserve__delivery"/>
                            <a role="button" class="roll-link" data-content="delivery">
                                <label for="form__user_contacts_reserve__delivery">{{ i18n.MAIN_SITE_RESERVE_ADD_TRANSPORTATION }}</label>
                            </a>
                        </div>

                        {#поля для доставки#}
                        <div id="user_contacts_reserve__delivery__wrapper" class="roll-content" data-link="delivery">

                            <a role="button" data-content="delivery" class="close-roll-link"><i class="icon-remove"></i></a>

                            <div class="user_contacts">
                                <label for="form__user_contacts_reserve__city">{{ i18n.MAIN_SITE_RESERVE_CITY }}</label>
                                <input type="text" name="city" id="form__user_contacts_reserve__city"
                                       placeholder="{{ i18n.MAIN_SITE_RESERVE_CITY }}" data-combine="address"
                                       data-check-required="form__user_contacts_reserve__delivery"/>
                            </div>

                            <div class="user_contacts">
                                <label for="form__user_contacts_reserve__street">{{ i18n.MAIN_SITE_RESERVE_STREET }}</label>
                                <input type="text" name="street" id="form__user_contacts_reserve__street"
                                       placeholder="{{ i18n.MAIN_SITE_RESERVE_STREET }}" data-combine="address"
                                       data-check-required="form__user_contacts__delivery"/>
                            </div>

                            <div class="user_contacts">
                                <label for="form__user_contacts_reserve__house">{{ i18n.MAIN_SITE_RESERVE_HOUSE }}</label>
                                <input type="text" name="house" id="form__user_contacts_reserve__house"
                                       placeholder="{{ i18n.MAIN_SITE_RESERVE_HOUSE }}" data-combine="address"
                                       data-check-required="form__user_contacts_reserve__delivery"/>
                            </div>

                            <div class="user_contacts">
                                <label for="form__user_contacts_reserve__flat">{{ i18n.MAIN_SITE_RESERVE_FLAT }}</label>
                                <input type="text" name="house" id="form__user_contacts_reserve__flat"
                                       placeholder="{{ i18n.MAIN_SITE_RESERVE_FLAT }}" data-combine="address"
                                       data-check-required="form__user_contacts_reserve__delivery"/>
                            </div>

                            <div class="user_contacts">
                                <label for="form__user_contacts_reserve__comment">Комментарий к доставке:</label>
                                <textarea name="comment" id="form__user_contacts_reserve__comment"></textarea>
                            </div>

                            <div class="text-justify">
                                <p>{{ i18n.MAIN_SITE_BUY_DEVILERY_INFORMATION | raw }}</p>
                                <p>{{ i18n.MAIN_SITE_BUY_PRICE_INFORMATION | raw }}</p>
                                <p>{{ functions.trans(i18n.MAIN_SITE_BUY_ADD_INFORMATION, i18n) }}</p>
                            </div>

                        </div>

                        <div class="user_contacts">
                            <a id="user_contacts_reserve__cancel" role="button" data-next-step="choose_event"
                               class="cancel_button btn btn-danger">{{ i18n.MAIN_SITE_BACK_SELECTION }}</a>
                            <a id="user_contacts_reserve"
                               onclick="yaCounter41926539.reachGoal('Callbackvegas_USERDATA'); return true;"
                               role="button" data-next-step="reserved_success"
                               class="submit_button btn btn-success">{{ i18n.MAIN_SITE_CONTINUE }}</a>
                        </div>

                        <input type="hidden" name="fio" id="form__user_contacts_reserve__fio" value=""
                               data-combine-delimiter=" "/>
                        <input type="hidden" name="address" value="" data-combine-delimiter=", "/>
                    </div>
                </form>
                <div class="hide_wrap"></div>
            </div>

            {# заполнить контактные данные для покупки #}
            <div id="step__user_contacts__buy" data-step="user_contacts_buy" style="display: none"
                 class="ticket-step full_block">
                <form id="form__user_contacts_buy" method="post">
                    <div class="col-md-12 align-center">
                        <div class="user_contacts">
                            <label for="form__user_contacts_buy__name">{{ i18n.MAIN_SITE_PERSON_NAME }}
                                <span>*</span></label>
                            <input type="text" name="name" id="form__user_contacts_buy__name"
                                   placeholder="{{ i18n.MAIN_SITE_PERSON_NAME }}" data-required="1" data-combine="fio"
                                   data-title="{{ i18n.MAIN_SITE_PERSON_NAME }}"/>
                        </div>

                        <div class="user_contacts">
                            <label for="form__user_contacts_buy__name">{{ i18n.MAIN_SITE_PERSON_SNAME }} <span>*</span></label>
                            <input type="text" name="surname" id="form__user_contacts_buy__surname"
                                   placeholder="{{ i18n.MAIN_SITE_PERSON_SNAME }}" data-required="1" data-combine="fio"
                                   data-title="{{ i18n.MAIN_SITE_PERSON_SNAME }}"/>
                        </div>

                        {#<div class="user_contacts">
                            <input type="text" name="phone" id="form__user_contacts_buy__phone" disabled />
                        </div>#}

                        <div class="user_contacts">
                            <label for="form__user_contacts_buy__email">{{ i18n.MAIN_SITE_PERSON_EMAIL }} <span>*</span></label>
                            <input type="text" name="email" id="form__user_contacts_buy__email" placeholder="email"
                                   data-required="1"/>
                        </div>

                        <div class="subscribe">
                            <input type="checkbox" name="subscribe" id="form__user_contacts_buy__subscribe" checked/>
                            <label for="form__user_contacts_buy__subscribe">{{ i18n.AGREE_TO_SUBSCRIBE }}</label>
                        </div>
                        <div class="user_contacts align-center">
                            <a id="user_contacts_buy__cancel" role="button" data-next-step="choose_event"
                               class="cancel_button btn btn-danger">{{ i18n.MAIN_SITE_BACK_SELECTION }}</a>
                            <a id="user_contacts_buy" role="button" data-next-step="pay_confirm"
                               class="submit_button btn btn-success">{{ i18n.MAIN_SITE_CONTINUE }}</a>
                        </div>
                    </div>

                    <input type="hidden" name="fio" id="form__user_contacts_buy__fio" value=""
                           data-combine-delimiter=" "/>

                </form>
                <div class="hide_wrap"></div>
            </div>

            {# отчет о бронировании #}
            <div id="step__reserved_success" data-step="reserved_success" style="display: none;"
                 class="ticket-step full_block">
                <h1>{{ i18n.MSG_ORDER_GOOD }}</h1>
                <div>{{ i18n.MSG_ORDER_NUMBER_SHORT }}:</div>
                <div id="reserved_success__table"></div>
                <div id="reserved_success__order">
                    <div>{{ i18n.INF_ORDER_NUM }} <span data-bind-text="code"></span></div>
                    <p>{{ i18n.MSG_ORDER_UNDER }} <span data-bind-text="datetime"></span></p>
                </div>
            </div>

            {# переход к оплате #}
            <div id="step__pay_confirm" data-step="pay_confirm" style="display: none" class="ticket-step full_block">
                <h1>{{ i18n.MSG_BUY_INF }}</h1>
                <div id="pay_confirm__order">
                    <p>{{ i18n.INF_ORDER_NUMBER }} <span data-bind-text="order_id"></span></p>
                    <div id="pay_confirm__table"></div>
                </div>
                <div>
                    <h2>{{ i18n.MAIN_SITE_BUY_SYSTEM_DESCRIPTION }}:</h2>
                    <p>{{ i18n.MAIN_SITE_BUY_PLATRON }}</p>
                    <p>
                        <span class="card_pay card_visa"></span>
                        <span class="card_pay card_mastercard"></span>
                    </p>
                </div>
                <a role="button" class="btn btn-success" id="pay_confirm__redirect_url"
                   data-bind-href="redirect_url">{{ i18n.MAIN_SITE_BUY_LINK }}</a>
            </div>

            {# таймер #}
            <div id="timer" data-minutes="15" data-reminder-minutes="2">
                <span>00:15:00</span>
            </div>
        </div>

    </div>

    {# контейнер для всплывающих правил #}
    <div class="modal fade" data-link="rules" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span
                                aria-hidden="true">&times;</span></button>
                    <h1 class="modal-title"></h1>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>


    {# контейнер для танцпартера #}
    <div id="no_seats_message__wrapper" class="modal fade" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title align-center"></h4>
                </div>
                <div class="modal-body align-center">
                    <h3>{{ i18n.INF_TICKETS_PRICE }}</h3>
                    <div>
                        <button type="button" class="btn btn-success" data-tickets_count="minus">-</button>
                        <input id="no_seats_message__input" type="text" name="count" size="3" class="align-center">
                        <button type="button" class="btn btn-success" data-tickets_count="plus">+</button>
                    </div>
                    <div>{{ i18n.INF_PRICE ~ ': ' }}<span data-bind-text="price"></span></div>
                    <div>{{ i18n.INF_AVAILABLE_TICKETS }}<span data-bind-text="available_total"></span></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>

{# контейнер для всплывающих ошибок #}
<div id="error_message__wrapper" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div id="error_message__container" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" data-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <span id="error_message__text" class="error_message" data-bind-text="err_msg"></span>
            </div>
        </div>
    </div>
</div>

{#{% include 'event/footer.twig' %}#}
{% block scripts %}
    <script type="text/javascript" src="/js/lib/snap.svg-min.js"></script>
    <script type="text/javascript" src="/js/lib/randomColor.js"></script>
    <script type="text/javascript" src="/js/lib/date.format.js"></script>
    <script type="text/javascript" src="/js/lib/paper/paper-core.min.js"></script>
    <script type="text/javascript" src="/js/lib/modernizr-custom.js"></script>
    {% for file in js %}
    <script type="text/javascript" src="{{ file.path ~ '?' ~ file.last_modified }}"></script>
    {% endfor %}
    {#<script type="text/javascript" src="/js/lib/jquery.tap.min.js"></script>#}
    <script type="text/javascript">
        var i18n = {
        {% for phrase, translation in i18n %}
        {{ phrase }}:
        "{{ translation }}",
        {% endfor %}
        }
    </script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function () {
                try {
                    w.yaCounter41926539 = new Ya.Metrika({
                        id: 41926539,
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true,
                        webvisor: true,
                        ecommerce: "dataLayer"
                    });
                } catch (e) {
                }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () {
                    n.parentNode.insertBefore(s, n);
                };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else {
                f();
            }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/41926539" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
{% endblock %}
</body>
</html>