{% macro trans(phrase, translations = {}, parameters = {}) %}
    {% if translations %}
        {% set phrase = phrase | replace(translations | merge ({'%': ''})) %}
    {% endif %}

    {% if parameters %}
        {% set phrase = phrase | replace(parameters | merge ({'%': ''}) ) %}
    {% endif %}

    {{ phrase | raw }}
{% endmacro %}