<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Билет {{ data.ticket_id }} - {{ data.event_name }} {{ data.event_datetime | date('d.m.Y H:i') }}</title>
    <link rel="stylesheet" href="/css/reset.css" type="text/css">
    <link rel="stylesheet" href="{{ ticket_css }}" type="text/css">
    <!--[if IE 8]>
    <link rel="stylesheet" type="text/css" media="all" href="{{ css }}ie8.css">
    <![endif]-->
</head>

<body>
<div id="main-container">
    <div id="header" class="container">
        <div class="top" class="clearfix">
            <img src="{{ logo }}" alt="logo" id="logo">
            <div id="eticket_inf" class="pull-rigth align-right">
                <div class="title">Электронный билет<span class="trans">/E-Ticket</span></div>
                <div class="number-title">Номер заказа<span class="trans">/Order number</span></div>
                <div class="number">{{ data.order_id }}</div>
            </div>
        </div>
        <div class="table-radius">
            {% block order_table %}
                <table>
                    <tbody>
                    <tr>
                        <td>
                            <div class="title">Организатор<span class="trans">/Promoter</span></div>
                            <div class="code">{{ data.parameters.org.inn }}</div>
                            <div class="small">{{ data.parameters.org.name }}</div>
                            <div class="small">{{ data.parameters.org.address }}</div>
                        </td>
                        <td>
                            <div class="title">Стоимость услуги<span class="trans">/Service cost</span></div>
                            <div class="price">{{ data.price }} руб.</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="title">Номер заказа<span class="trans">/Reservation number</span></div>
                            {{ data.order_id }}
                        </td>
                        <td>
                            <div class="title">ФИО<span class="trans">/Name</span></div>
                            <div class="small">{{ data.client_name }}</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="title">Код билета (не разглашайте третьим лицам!)<span class="trans">/Ticket code (do not disclose!)</span>
                            </div>
                            {{ data.ticket_id }}
                        </td>
                        <td>
                            <div class="title">Мобильный телефон<span class="trans">/Mobile phone</span></div>
                            {{ data.client_phone }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="title">Дата и время заказа<span class="trans">/Date & time reservation</span>
                            </div>
                            {{ data.buy_datetime }}
                        </td>
                        <td>
                            <div class="title">Электронная почта<span class="trans">/E-mail</span></div>
                            {{ data.client_email }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            {% endblock %}
        </div>
    </div>
    <div class="cut-line">линия сгиба<span class="trans">/folding line</span></div>
    <div id="section" class="container">
        <div>
            <div class="top">
                <img src="{{ logo }}" alt="logo" id="logo">
                <div class="pull-rigth align-right">
                    <div class="title">Электронный билет<span class="trans">/E-Ticket</span></div>
                </div>
            </div>
            {% block barcode %}
                <img src="/ticket/code/{{ data.ticket_id }}?angle=90&w=300&h=100" id="barcode" alt="barcode">
            {% endblock %}
            <div class="table-radius">
                <table>
                    <tbody>
                    <tr>
                        <td colspan="4">
                            <div class="wraper">
                                <div class="title">Мероприятие<span class="trans">/Event</span></div>
                                <b>{{ data.event_name }}</b>
                                <span class="circle-big">{{ data.parameters.age }}</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="title">Сегмент<span class="trans">/Segment</span></div>
                            <b>{{ data.segment }}</b>
                        </td>
                        <td>
                            <div class="title">Ряд<span class="trans">/Number</span></div>
                            <b>{{ data.row }}</b>
                        </td>
                        <td>
                            <div class="title">Место<span class="trans">/Place</span></div>
                            <b>{{ data.seat }}</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="date">
                            <div class="title">Дата<span class="trans">/Date</span></div>
                            <div><b>{{ data.event_datetime | date("d.m.Y") }}</b></div>
                            <div class="small">&nbsp;день&nbsp;&nbsp;&nbsp;&nbsp;месяц&nbsp;&nbsp;&nbsp;год</div>
                        </td>
                        <td>
                            <div class="title">Время<span class="trans">/Time</span></div>
                            <b>{{ data.event_datetime | date("H:i") }}</b>
                        </td>
                        <td colspan="2">
                            <div class="title">Цена билета<span class="trans">/Ticket price</span></div>
                            <b>{{ data.price }} руб.</b>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <p>Адрес концертного зала<span class="trans">/Address</span></p>
                {% block address_hall %}{% endblock %}
            </div>
        </div>
    </div>

    <div class="cut-line-bottom">линия сгиба<span class="trans">/folding line</span></div>
    <div id="footer" class="container">
        <div class="clearfix">
            {% block banner %}{% endblock %}
        </div>
        <div class="notice">
            <img src="/pics/print_ticket/sign.png" align="left">
            Уважаемый зритель! Берегите свой билет от копирования! В случае копирования бланка электронного билета
            доступ на мероприятие будет открыт только по тому билету, который был предъявлен первым.<br>
            Dear client! Keep your ticket from copying! In case of copying of the electronic ticket access will be
            allowed only on the first scanned ticket.
        </div>
        <div>
            <p class="info">Уважаемый зритель, дирекция {{ of_hall_name }} благодарит Вас за приобретение билета и
                предлагает заранее ознакомиться с нашими правилами:<br>
                Допуск зрителей в {{ hall_name }} производится строго по билетам за полтора часа до начала
                мероприятия.<br>
                Билет действителен на одно лицо независимо от возраста.</p>
            <p>
                <b>Зрители обязаны:</b>
            <ul>
                <li> - сдавать верхнюю одежду в гардероб, а крупногабаритные предметы, фото и видеоаппаратуру – в камеру
                    хранения;
                </li>
                <li> - соблюдать правила поведения в общественных местах;</li>
                <li> - занимать в зрительном зале места согласно билету;</li>
                <li> - отключать во время проведения мероприятия средства мобильной связи;</li>
                <li> - сохранять билет до конца мероприятия и предъявлять по требованию администрации и сотрудников
                    службы охраны.
                </li>
            </ul>
            </p>
            <p>
                <strong>Зрителям запрещается:</strong>
            <ul>
                <li> - проходить в {{ hall_name }} с огнестрельным, газовым или холодным оружием, пиротехникой всех
                    видов, легковоспламеняющимися жидкостями, крупногабаритными предметами, стеклянной тарой;
                </li>
                <li> - проходить в {{ hall_name }} в грязной, пачкающей одежде/обуви, с продуктами, напитками и
                    предметами, которые могут испачкать других зрителей и имущество {{ of_hall_name }};
                </li>
                <li> - производить фото и видеосъемку мероприятия.</li>
            </ul>
            </p>
            <p>
                <strong>Зрители, нарушающие вышеуказанные положения, обязаны покинуть зрительный зал {{ of_hall_name }},
                    при этом компенсация стоимости билета зрителю не производится.</strong>
            </p>
            <p>
                <b>Стоимость билета подлежит возврату в случае отмены, замены или переноса мероприятия.<br>
                    Подробная информация и справки по тел (499) 55 000 55 на сайте {{ site }}</b>
            </p>
        </div>
    </div>
</div>
</body>
</html>
